# Data Analysis ETH Transactions

# Data - Accredited Investors

## get data from Google API

In [4]:
#set up google sheets API
from googleapiclient.discovery import build 
from google.oauth2 import service_account

SCOPES = ['https://www.googleapis.com/auth/spreadsheets']
SERVICE_ACCOUNT_FILE = 'keys.json'

creds = None
creds = service_account.Credentials.from_service_account_file(
        SERVICE_ACCOUNT_FILE, scopes=SCOPES)


# The ID and range of a sample spreadsheet.
SAMPLE_SPREADSHEET_ID = '1cK_i04kps5_R2dIvCe2Y-Yi3MxLj6QcMlI8Za8-gdAk'
service = build('sheets', 'v4', credentials=creds)
SAMPLE_RANGE_NAME = "SoW_approved!A1:E356"

# Call the Sheets API
sheet = service.spreadsheets()
result = sheet.values().get(spreadsheetId=SAMPLE_SPREADSHEET_ID,
                                range=SAMPLE_RANGE_NAME).execute()
values = result.get('values', [])
print(values[:5])

[['sow_estimated_net_worth_value', 'address', 'number', 'wallet_address', 'full_name'], ['30000', 'c.schreiner@me.com', '', '', 'Christian Paul Schreiner'], ['250000', 'elmotec@t-online.de', '', '', 'Bodo Jürgen Otto Cuny'], ['300', 'axel.nitsch@gmail.com', '', '', 'Axel Gunnar Nitsch'], ['140', 'ralph.mende@hotmail.de', '', '', 'Ralph Klaus Mende']]

In [33]:
#set up google sheets API
from googleapiclient.discovery import build 
from google.oauth2 import service_account

SCOPES = ['https://www.googleapis.com/auth/spreadsheets']
SERVICE_ACCOUNT_FILE = 'keys.json'

creds = None
creds = service_account.Credentials.from_service_account_file(
        SERVICE_ACCOUNT_FILE, scopes=SCOPES)


# The ID and range of a sample spreadsheet.
SAMPLE_SPREADSHEET_ID = '1cK_i04kps5_R2dIvCe2Y-Yi3MxLj6QcMlI8Za8-gdAk'
service = build('sheets', 'v4', credentials=creds)
SAMPLE_RANGE_NAME = "approved users with ETH wallet address!A1:E21449"

# Call the Sheets API
sheet = service.spreadsheets()
result = sheet.values().get(spreadsheetId=SAMPLE_SPREADSHEET_ID,
                                range=SAMPLE_RANGE_NAME).execute()
values2 = result.get('values', [])
print(values2[:5])

[['sow_estimated_net_worth_value', 'address', 'number', 'wallet_address', 'full_name'], ['0', 'nur.sahin1995@gmail.com', '', '0x8Defa742C9f2c716193BEb6438B781958f012576', 'AYSENUR KAYMAKCI'], ['0', 'khuzairimahbub@gmail.com', '', '0xE86f088048f2ab194d72A00865683f9fc2498C44', 'MUHAMMAD KASYFI KHUZAIRI BIN MOHD GHAZALI'], ['0', 'zahed.ajori@gmail.com', '', '0xF8002eB30e235D64651C5A028f3299481d04ed28', 'زاهد آجری'], ['0', 'velodaso@rambler.ru', '', '0x093f9f5c0ea0ec8c9Ed6C04957B60FA224Ee8Ad7', 'АРТУР РУСЛАНОВИЧ ПАИСОВ']]

## explore the data

In [2]:
import pandas as pd
import numpy as np

from tqdm import notebook
notebook.tqdm().pandas()

HBox(children=(HTML(value=''), FloatProgress(value=1.0, bar_style='info', layout=Layout(width='20px'), max=1.0…

/Users/Kenneth/opt/anaconda3/lib/python3.8/site-packages/tqdm/std.py:697: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  from pandas import Panel

In [35]:
df_add_data = pd.DataFrame(values2)
new_header2 = df_add_data.iloc[0] #grab the first row for the header
df_add_data = df_add_data[1:] #take the data less the header row
df_add_data.columns = new_header2

In [36]:
df_add_data

,sow_estimated_net_worth_value,address,number,wallet_address,full_name
1,0,nur.sahin1995@gmail.com,,0x8Defa742C9f2c716193BEb6438B781958f012576,AYSENUR KAYMAKCI
2,0,khuzairimahbub@gmail.com,,0xE86f088048f2ab194d72A00865683f9fc2498C44,MUHAMMAD KASYFI KHUZAIRI BIN MOHD GHAZALI
3,0,zahed.ajori@gmail.com,,0xF8002eB30e235D64651C5A028f3299481d04ed28,زاهد آجری
4,0,velodaso@rambler.ru,,0x093f9f5c0ea0ec8c9Ed6C04957B60FA224Ee8Ad7,АРТУР РУСЛАНОВИЧ ПАИСОВ
5,0,craig@moodieinsights.com,,0x818d50B2083A75bE8189279aB3Dc4cc5d2A4Eac5,CRAIG ALISTAIR MCBRIDE MACKIE
...,...,...,...,...,...
21444,0,ddurango25@gmail.com,,0x864c2b5c0ED30C4908E0d2F1E16920293F54212f,David Durango
21445,0,mariusz.borowiak88@gmail.com,,0xd8BFA26Effd33B50c88C9e7aB517235DA6e28a81,MARIUSZ BOROWIAK
21446,0,trilochan.swain789@gmail.com,,0xC449d09d85bAcd06b9d11aD795E4537132863446,Trilochan Swain
21447,0,bolocan28denis@gmail.com,,0x9cFc73AA9FC0D4Cb12AD06a4Ee83b2494Fbf1aE3,DIONIS BOLOCAN
21448,0,theanhp89@gmail.com,,0x71B70232BA6228E2E378CcE858C54cb01fd04171,HAN KY HUYNH

In [37]:
df = df_add_data

## clean the data

In [38]:
#only keep observations with a wallet_address
df = df.drop(columns=['number']) #drop empty column
df_NA = df.replace('^\s*$', np.nan, regex=True) #encode empty space as NA
df = df_NA.dropna()
df

,sow_estimated_net_worth_value,address,wallet_address,full_name
1,0,nur.sahin1995@gmail.com,0x8Defa742C9f2c716193BEb6438B781958f012576,AYSENUR KAYMAKCI
2,0,khuzairimahbub@gmail.com,0xE86f088048f2ab194d72A00865683f9fc2498C44,MUHAMMAD KASYFI KHUZAIRI BIN MOHD GHAZALI
3,0,zahed.ajori@gmail.com,0xF8002eB30e235D64651C5A028f3299481d04ed28,زاهد آجری
4,0,velodaso@rambler.ru,0x093f9f5c0ea0ec8c9Ed6C04957B60FA224Ee8Ad7,АРТУР РУСЛАНОВИЧ ПАИСОВ
5,0,craig@moodieinsights.com,0x818d50B2083A75bE8189279aB3Dc4cc5d2A4Eac5,CRAIG ALISTAIR MCBRIDE MACKIE
...,...,...,...,...
21444,0,ddurango25@gmail.com,0x864c2b5c0ED30C4908E0d2F1E16920293F54212f,David Durango
21445,0,mariusz.borowiak88@gmail.com,0xd8BFA26Effd33B50c88C9e7aB517235DA6e28a81,MARIUSZ BOROWIAK
21446,0,trilochan.swain789@gmail.com,0xC449d09d85bAcd06b9d11aD795E4537132863446,Trilochan Swain
21447,0,bolocan28denis@gmail.com,0x9cFc73AA9FC0D4Cb12AD06a4Ee83b2494Fbf1aE3,DIONIS BOLOCAN
21448,0,theanhp89@gmail.com,0x71B70232BA6228E2E378CcE858C54cb01fd04171,HAN KY HUYNH

In [39]:
#create a copy of the old df
df2 = df
df2

,sow_estimated_net_worth_value,address,wallet_address,full_name
1,0,nur.sahin1995@gmail.com,0x8Defa742C9f2c716193BEb6438B781958f012576,AYSENUR KAYMAKCI
2,0,khuzairimahbub@gmail.com,0xE86f088048f2ab194d72A00865683f9fc2498C44,MUHAMMAD KASYFI KHUZAIRI BIN MOHD GHAZALI
3,0,zahed.ajori@gmail.com,0xF8002eB30e235D64651C5A028f3299481d04ed28,زاهد آجری
4,0,velodaso@rambler.ru,0x093f9f5c0ea0ec8c9Ed6C04957B60FA224Ee8Ad7,АРТУР РУСЛАНОВИЧ ПАИСОВ
5,0,craig@moodieinsights.com,0x818d50B2083A75bE8189279aB3Dc4cc5d2A4Eac5,CRAIG ALISTAIR MCBRIDE MACKIE
...,...,...,...,...
21444,0,ddurango25@gmail.com,0x864c2b5c0ED30C4908E0d2F1E16920293F54212f,David Durango
21445,0,mariusz.borowiak88@gmail.com,0xd8BFA26Effd33B50c88C9e7aB517235DA6e28a81,MARIUSZ BOROWIAK
21446,0,trilochan.swain789@gmail.com,0xC449d09d85bAcd06b9d11aD795E4537132863446,Trilochan Swain
21447,0,bolocan28denis@gmail.com,0x9cFc73AA9FC0D4Cb12AD06a4Ee83b2494Fbf1aE3,DIONIS BOLOCAN
21448,0,theanhp89@gmail.com,0x71B70232BA6228E2E378CcE858C54cb01fd04171,HAN KY HUYNH

In [40]:
#get invalid addresses (not long enough)
df2 = df2.astype({'wallet_address': 'string'})
df2["address_length"] = df2.wallet_address.progress_apply(len)
df2["address_length"]=df2["address_length"].astype("category")

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=21448.0), HTML(value='')))

In [41]:
#delete invalid addresses
df2 = df2[df2.address_length != 34]

In [42]:
df2

,sow_estimated_net_worth_value,address,wallet_address,full_name,address_length
1,0,nur.sahin1995@gmail.com,0x8Defa742C9f2c716193BEb6438B781958f012576,AYSENUR KAYMAKCI,42
2,0,khuzairimahbub@gmail.com,0xE86f088048f2ab194d72A00865683f9fc2498C44,MUHAMMAD KASYFI KHUZAIRI BIN MOHD GHAZALI,42
3,0,zahed.ajori@gmail.com,0xF8002eB30e235D64651C5A028f3299481d04ed28,زاهد آجری,42
4,0,velodaso@rambler.ru,0x093f9f5c0ea0ec8c9Ed6C04957B60FA224Ee8Ad7,АРТУР РУСЛАНОВИЧ ПАИСОВ,42
5,0,craig@moodieinsights.com,0x818d50B2083A75bE8189279aB3Dc4cc5d2A4Eac5,CRAIG ALISTAIR MCBRIDE MACKIE,42
...,...,...,...,...,...
21444,0,ddurango25@gmail.com,0x864c2b5c0ED30C4908E0d2F1E16920293F54212f,David Durango,42
21445,0,mariusz.borowiak88@gmail.com,0xd8BFA26Effd33B50c88C9e7aB517235DA6e28a81,MARIUSZ BOROWIAK,42
21446,0,trilochan.swain789@gmail.com,0xC449d09d85bAcd06b9d11aD795E4537132863446,Trilochan Swain,42
21447,0,bolocan28denis@gmail.com,0x9cFc73AA9FC0D4Cb12AD06a4Ee83b2494Fbf1aE3,DIONIS BOLOCAN,42
21448,0,theanhp89@gmail.com,0x71B70232BA6228E2E378CcE858C54cb01fd04171,HAN KY HUYNH,42

In [111]:
df2['sow_estimated_net_worth_value']= pd.to_numeric(df2['sow_estimated_net_worth_value'])

In [17]:
#create a unique hash of the eth address as a uniuq identifier
df2['hash'] = df2.progress_apply(lambda row: hash(row.wallet_address), axis = 1)

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=304.0), HTML(value='')))

In [24]:
#control identifier
hash(df2.iloc[0,2])

6320253487197749234

## feature engineering

### create a dummy for accredited investor

In [18]:
for i in list(range(0, 304)):
    if df2.iloc[i,0]>=1000000: df2.iloc[i,0]= 1
    else: df2.iloc[i,0]= 0

In [35]:
#check how many accredited investors
df2.iloc[:,0].value_counts()

0    400
Name: sow_estimated_net_worth_value, dtype: int64

In [20]:
df2.iloc[24,:]

0
sow_estimated_net_worth_value                                             0
address                                             elmerfudd2019@gmail.com
wallet_address                   0x95EBa9c1E94A0b491b5d5AFd6DcDe49B15e89594
full_name                                                    Declan McGrath
address_length                                                           42
hash                                                     296034846095111123
Name: 53, dtype: object

In [43]:
#create a copy of df2
df3 = df2

In [22]:
#lowered the address string as it is done that way automatically when used in the etherscan 'API'
df3.wallet_address = list(map(str.lower,df2.wallet_address))
bol = df3.wallet_address == "0x58032c2fd021473eeee3c076bb83c3ee68a15064"
bol.value_counts()

False    303
True       1
Name: wallet_address, dtype: int64

In [23]:
#there was an error due to a wrong wallet_address -> it was after "0x58032c2fd021473eeee3c076bb83c3ee68a15064"
df2.loc[df3.wallet_address == "0x58032c2fd021473eeee3c076bb83c3ee68a15064"]
df2.iloc[range(240,250),:] #take a look at these addresses to find the wrong one
#the wrong address (i: 295) had a different format: bc1qnxsyskg99zx3zfl9mr82tumvnzwdlelryk5wvm instead of 0x58......

,sow_estimated_net_worth_value,address,wallet_address,full_name,address_length,hash
284,1.0,impaladave1966@gmail.com,0xb175655cdf48177a85ec6f62227639e0d07b127c,DAVID EUGENE MEEK,42,1883594018552394800
287,1.0,Emilpadre@gmail.com,0xab305a6f8e29a554f988ed648d7cc3d783086b7e,EMIL RILEY DE VELA PADRE,42,-840028026198599968
288,1.0,bvankust@gmail.com,0x0cef5c98d46c5d66102d8250a94ed0b4aa05ec17,Bianca Vankust,42,4281677996071919010
289,1.0,clewfirst@gmail.com,0x9f552ed132bb199493af3e70eefd1750cfe6b26f,Noah Benjamin Isaacson,42,-8287006113339164306
290,1.0,donkino4@naver.com,0x4028ef77b92e58e8eee00e0677f1e2ce707777de,Jaeman kim,42,-2083191395105554532
292,1.0,flydicegames@gmail.com,0xc47b437961e8b280ac46cef885c3c205b26f3ca2,Adam Hackett,42,8697728179812196349
293,0.0,jp.temperilli@gmail.com,0x5946d65d94cc71c3c8506d27d914cd40763cdf30,John Peter Temperilli,42,-5094400960519349202
294,1.0,johndaviddiaz@hotmail.com,0x58032c2fd021473eeee3c076bb83c3ee68a15064,John David Diaz,42,3966608286741544470
295,1.0,hamojona@gmail.com,bc1qnxsyskg99zx3zfl9mr82tumvnzwdlelryk5wvm,JONATHAN HAMO,42,2953274316803947221
296,1.0,chad.cromwell@gmail.com,0x21502394e8fec1d65c82d848c1af3c5ca41b2461,Chad Anthony Cromwell,42,-3369523736127805894

In [24]:
#delete the wrong address
df3 = df3[df3.wallet_address != "bc1qnxsyskg99zx3zfl9mr82tumvnzwdlelryk5wvm"]
df3.iloc[range(240,250),:] #check if successfull

,sow_estimated_net_worth_value,address,wallet_address,full_name,address_length,hash
284,1.0,impaladave1966@gmail.com,0xb175655cdf48177a85ec6f62227639e0d07b127c,DAVID EUGENE MEEK,42,1883594018552394800
287,1.0,Emilpadre@gmail.com,0xab305a6f8e29a554f988ed648d7cc3d783086b7e,EMIL RILEY DE VELA PADRE,42,-840028026198599968
288,1.0,bvankust@gmail.com,0x0cef5c98d46c5d66102d8250a94ed0b4aa05ec17,Bianca Vankust,42,4281677996071919010
289,1.0,clewfirst@gmail.com,0x9f552ed132bb199493af3e70eefd1750cfe6b26f,Noah Benjamin Isaacson,42,-8287006113339164306
290,1.0,donkino4@naver.com,0x4028ef77b92e58e8eee00e0677f1e2ce707777de,Jaeman kim,42,-2083191395105554532
292,1.0,flydicegames@gmail.com,0xc47b437961e8b280ac46cef885c3c205b26f3ca2,Adam Hackett,42,8697728179812196349
293,0.0,jp.temperilli@gmail.com,0x5946d65d94cc71c3c8506d27d914cd40763cdf30,John Peter Temperilli,42,-5094400960519349202
294,1.0,johndaviddiaz@hotmail.com,0x58032c2fd021473eeee3c076bb83c3ee68a15064,John David Diaz,42,3966608286741544470
296,1.0,chad.cromwell@gmail.com,0x21502394e8fec1d65c82d848c1af3c5ca41b2461,Chad Anthony Cromwell,42,-3369523736127805894
297,0.0,djvcuda@comcast.net,0x4fa537718c024a7d61f3168422682cc97bb52234,David Verna,42,5687509542625759501

In [44]:
#delecte all "non-ETH" addresses -> they don´t start with 0x
start, stop = 0, 2
df3["address_beginning"]= df3["wallet_address"].str.slice(start, stop)
#use raw strings -> also handles backlashes as normal characters done by r"string" instead of "string"
df3["address_beginning"] = df3["address_beginning"].astype("category")

In [45]:
df3.address_beginning.value_counts()

0x    21448
Name: address_beginning, dtype: int64

In [ ]:
uniques = pd.DataFrame(df_test.tx_from.unique())
uniques = uniques.rename(columns={0: 'wallet_address'})
unique = pd.merge(df3, uniques, on = "wallet_address")
unique.to_csv("new_addresses.csv")
df3 = unique

## And so it begins

In [71]:
df3 = pd.re
df3 = df3.sample(n=300, random_state = 42)
df3 = pd.read_csv("new_addresses.csv", header = 0)

,sow_estimated_net_worth_value,address,wallet_address,full_name,address_length,address_beginning
631,0,babama1003@gmail.com,0x61797662af0280d3090a53d69da71ec9dc9626d9,Moriam Begum,42,0x
592,0,btcsharkie@gmail.com,0x2c165a91035b1c0b44e8dfc3e5b5e24f562d4a44,FARDIN ATMAR,42,0x
599,0,fatihsenel0@gmail.com,0xff8ba48f19979a2fa42fa56ce3b85979c6170671,FATIH SENEL,42,0x
291,0,mymino@nate.com,0x6df2e1ea7fdb2bcc7c97b0557c786d82d654bd30,YEO MINHO,42,0x
72,0,vvd09325874062@gmail.com,0x8c829e7714069d661431f8c2a7b508fc50040786,Võ Văn Đô,42,0x
...,...,...,...,...,...,...
245,0,patrimoniodearagua@gmail.com,0x4e8ba28f9c8efc39cdba10fa99de049f08fd50be,Helio Arturo Uzcategui Pernia,42,0x
507,0,dennismader@outlook.com,0xb2f1a288e6bf497e3b41adf23a4a89896069d1f6,DENNIS ROLF MADER,42,0x
272,0,theboy1707@gmail.com,0x42afe93a50c9fba4bf55de264da7bfacdbd2ec70,XUAN TUAN CHAU HUYNH,42,0x
154,0,tthinh883@gmail.com,0x1dd3fdd3b637b88c4a2387199769ca1adb23847c,TRAN PHAM TRUC DUONG,42,0x
126,0,zubar1980@gmail.com,0x4109b9fb213bccffabe46905f20a74d39ba41843,Зубарев Сергей Владимирович,42,0x

### get normal transaction data

In [109]:
import requests
from decimal import Decimal 
import certifi
from collections import defaultdict
from datetime import datetime

In [110]:
def list_to_string(_list):
        return ",".join(_list) if isinstance(_list, list) else _list

In [111]:
from time import sleep

def api_call(addresses, numbers_transactions, api_key):    
    # url placeholders
    base_url = "https://api.etherscan.io/api"
    url = f"{base_url}?module=account&action=txlist&address={list_to_string(addresses)}&startblock=0&endblock=99999999&page=1&offset={str(numbers_transactions)}&sort=asc&apikey={api_key}"

    try:
        response = requests.get(url, verify=certifi.where())

        #print(response.status_code)
        if response.status_code == 200:
            address_content = response.json()
            
            if address_content.get("message") == "NOTOK":
                return {}

            # print(1) 
            #1 == 1
            #sleep(1) # TODO this is a hack to prevent 'DNS Erros / Connection refused Erros after a ton of request to the api                
            return address_content.get("result")#list of dictionaries
        else:
            return {}
    except Exception as error:
        return {}

In [112]:
#get the data per address (hier funktioniert es nur mit einer adresse)
def get_transactions_by_address(address, numbers_transactions, api_key='QXYD8MMH1JIKKQRSAMUUNM16XEJTI5H7NQ'):
    data = defaultdict(dict)

    try: # this makes sure the programm is not crashing; even if the api call failes
        result = api_call(address, numbers_transactions, api_key)

    except Exception as error:
        print(error)

        data[0]["hash"] = "" #hash of the transaction
        data[0]["tx_from"] = "" #sender address
        data[0]["tx_to"] = "" #receiver
        data[0]["eth_value"] = 0 #value in eth
        data[0]["out"] = False # dummy - true if the address is sending the money
        data[0]["confirmed"] = False # if the transaction is confirmed
        data[0]["timeStamp"] = datetime.strptime("2000-08-01 12:30", '%Y-%m-%d %H:%M')
        data[0]["nonce"] = 0 #number of confirmed transactions originated from this address
        data[0]["gas"] = 0 #gas Limit -> wie viel gas einheiten man max. zahlen würde
        data[0]["will_gas_Price"] = 0 #How much the transaction originator is willing t. pay in Wei per gas unit
        data[0]["gasUsed"] = 0 #How much gas was used at the end
        data[0]["transaction_cost"] = 0
        data[0]["data_transaction"] = ""
        data[0]["isError"] = 0
        data[0]["cumulativeGasUsed"] = 0
        return data

    
    for n, transaction in enumerate(result):
        hashs = transaction.get("hash")
        tx_from = transaction.get("from")
        tx_to = transaction.get("to")
        value = transaction.get("value")
        confirmations = transaction.get("confirmations")
        time = datetime.utcfromtimestamp(int(transaction.get("timeStamp"))).strftime('%Y-%m-%d %H:%M')
        nonce = transaction.get("nonce")
        gas = float(transaction.get("gas"))
        gasPrice = float(transaction.get("gasPrice"))
        gasUsed = transaction.get("gasUsed")
        datatx = transaction.get("input")
        error = transaction.get("isError")
        cumulativeGasUsed = transaction.get("cumulativeGasUsed")
        
        if tx_from == address:
            out = True
        else: 
            out = False

        eth_value = Decimal(value) / Decimal("1000000000000000000") #float test sodass Zahl
        
        gasprice_eth = Decimal(gasPrice) / Decimal("1000000000000000000")
        transaction_cost = Decimal(gasprice_eth) * Decimal(gasUsed)
        if int(confirmations) >=16:
            confirmed = True
        else:
            confirmed = False
        
        data[n]["hash"] = hashs #hash of the transaction
        data[n]["tx_from"] = tx_from #sender address
        data[n]["tx_to"] = tx_to #receiver
        data[n]["eth_value"] = eth_value #value in eth
        data[n]["out"] = out # dummy - true if the address is sending the money
        data[n]["confirmed"] = confirmed # if the transaction is confirmed
        data[n]["timeStamp"] = datetime.strptime(time, '%Y-%m-%d %H:%M')
        data[n]["nonce"] = nonce #number of confirmed transactions originated from this address
        data[n]["gas"] = gas #gas Limit -> wie viel gas einheiten man max. zahlen würde
        data[n]["will_gas_Price"] = gasprice_eth #How much the transaction originator is willing t. pay in Wei per gas unit
        data[n]["gasUsed"] = gasUsed #How much gas was used at the end
        data[n]["transaction_cost"] = transaction_cost
        data[n]["data_transaction"] = datatx
        data[n]["isError"] = error
        data[n]["cumulativeGasUsed"] = cumulativeGasUsed
    
    return data    
    #reminder: die Berechnungen müssen für´s Umrechnen in Float übertragen werden

In [113]:
#create a data frame that consists out of all the transactions of the whole addresses
new_df = df3.wallet_address.progress_apply(get_transactions_by_address, numbers_transactions = 1500)

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=300.0), HTML(value='')))

In [114]:
def normalize_data(df):
    temp_list = []
    for key, value in df.items():
        for k,v in value.items():
            temp_list.append(v)

    return pd.DataFrame(temp_list)

In [115]:
transaction_df = normalize_data(new_df)
transaction_df # That´s the final edge list of the normal TX

,hash,tx_from,tx_to,eth_value,out,confirmed,timeStamp,nonce,gas,will_gas_Price,gasUsed,transaction_cost,data_transaction,isError,cumulativeGasUsed
0,0xd3f0d6b0709c7d6fb2ac94849d9a76ebb0c7474f6f2c...,0xbf79e9e31b530441dc3c9daeb985a0f2f64392b1,0x61797662af0280d3090a53d69da71ec9dc9626d9,0.009999999999999998,False,True,2018-02-19 06:41:00,5365,90000.0,3.1E-9,21000,0.0000651000,0x,0,6220796
1,0xef368fe9d831552592967f562e13c5f4e22e436f580f...,0x61797662af0280d3090a53d69da71ec9dc9626d9,0x45555629aabfea138ead1c1e5f2ac3cce2add830,0,True,True,2018-02-19 06:49:00,0,85000.0,1E-9,52184,0.000052184,0x,0,4906503
2,0x5bc21b578b49ef82773ccc374dd91f9355b65235aa16...,0x61797662af0280d3090a53d69da71ec9dc9626d9,0x22d1755515bef4afd277d8acd42adbac49c77d43,0,True,True,2018-02-19 07:00:00,1,85000.0,2E-9,83823,0.000167646,0x,0,7758495
3,0xc57c791aeda11586549e3cbfcf3811c6b28120eced8b...,0x61797662af0280d3090a53d69da71ec9dc9626d9,0x4e355b98f94c4a6461bcbcf06efb1ad5633b7595,0.0005,True,True,2018-03-16 17:49:00,2,80000.0,4E-9,68839,0.000275356,0x,0,6780707
4,0xb2b4d1f0cc104a85d450ad92fc53cbfd39566d68f47a...,0x61797662af0280d3090a53d69da71ec9dc9626d9,0x45ed02e374aef2e4b34c04e86ad9d45891d10751,0.00031,True,True,2018-08-12 16:50:00,3,21000.0,5E-9,21000,0.000105000,0x,1,5351876
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71188,0x0b0db10c8e6806f1f2c4b7dc5d7df1a568c22d30afc0...,0x4109b9fb213bccffabe46905f20a74d39ba41843,0xa0cf46eb152656c7090e769916eb44a138aaa406,0,True,True,2021-07-27 09:22:00,270,55705.0,1.70009E-8,46421,0.0007891987789,0x095ea7b3000000000000000000000000e592427a0aec...,0,10029939
71189,0x6bab84401368d35e1225d830b980b80bdb9292dacc26...,0x4109b9fb213bccffabe46905f20a74d39ba41843,0x8a2279d4a90b6fe1c4b30fa660cc9f926797baa2,0,True,True,2021-07-27 09:39:00,271,43510.0,2.1E-8,43510,0.000913710,0xa9059cbb00000000000000000000000033c3b7160765...,1,11534447
71190,0x4493b18f78f71c55c8bf519d35f704e5dcdae2411281...,0x4109b9fb213bccffabe46905f20a74d39ba41843,0x4109b9fb213bccffabe46905f20a74d39ba41843,0,True,True,2021-07-27 10:57:00,272,21000.0,2.7E-8,21000,0.000567000,0x,0,5042963
71191,0x202832facbe880d7d9324df10939d4232947bf9d1059...,0x4109b9fb213bccffabe46905f20a74d39ba41843,0x4109b9fb213bccffabe46905f20a74d39ba41843,0,True,True,2021-07-27 10:58:00,273,21000.0,2.64E-8,21000,0.0005544000,0x,0,13150018
71192,0x4ca0050a0a135aa0366d183e51e79f157179ae92704a...,0x604f8ee76c9f2efb892360dc27b42ba3cdbfb760,0x4109b9fb213bccffabe46905f20a74d39ba41843,0.000083153531360614,False,True,2021-07-27 23:16:00,16,21000.0,2.4E-8,21000,0.000504000,0x,0,13142743

In [116]:
transaction_df.to_csv("addData_0709_origin.csv")

In [3]:
transaction_df = pd.read_csv("addData_0709_origin.csv", header = 0)

In [4]:
address_list = df3.wallet_address
address_list

NameError: name 'df3' is not defined

transaction_df = transaction_df.loc[transaction_df["tx_from"].isin(address_list)]

In [118]:
transaction_df

,Unnamed: 0,hash,tx_from,tx_to,eth_value,out,confirmed,timeStamp,nonce,gas,will_gas_Price,gasUsed,transaction_cost,data_transaction,isError,cumulativeGasUsed
0,0,0xd3f0d6b0709c7d6fb2ac94849d9a76ebb0c7474f6f2c...,0xbf79e9e31b530441dc3c9daeb985a0f2f64392b1,0x61797662af0280d3090a53d69da71ec9dc9626d9,0.010000,False,True,2018-02-19 06:41:00,5365,90000.0,3.100000e-09,21000,0.000065,0x,0,6220796
1,1,0xef368fe9d831552592967f562e13c5f4e22e436f580f...,0x61797662af0280d3090a53d69da71ec9dc9626d9,0x45555629aabfea138ead1c1e5f2ac3cce2add830,0.000000,True,True,2018-02-19 06:49:00,0,85000.0,1.000000e-09,52184,0.000052,0x,0,4906503
2,2,0x5bc21b578b49ef82773ccc374dd91f9355b65235aa16...,0x61797662af0280d3090a53d69da71ec9dc9626d9,0x22d1755515bef4afd277d8acd42adbac49c77d43,0.000000,True,True,2018-02-19 07:00:00,1,85000.0,2.000000e-09,83823,0.000168,0x,0,7758495
3,3,0xc57c791aeda11586549e3cbfcf3811c6b28120eced8b...,0x61797662af0280d3090a53d69da71ec9dc9626d9,0x4e355b98f94c4a6461bcbcf06efb1ad5633b7595,0.000500,True,True,2018-03-16 17:49:00,2,80000.0,4.000000e-09,68839,0.000275,0x,0,6780707
4,4,0xb2b4d1f0cc104a85d450ad92fc53cbfd39566d68f47a...,0x61797662af0280d3090a53d69da71ec9dc9626d9,0x45ed02e374aef2e4b34c04e86ad9d45891d10751,0.000310,True,True,2018-08-12 16:50:00,3,21000.0,5.000000e-09,21000,0.000105,0x,1,5351876
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71188,71188,0x0b0db10c8e6806f1f2c4b7dc5d7df1a568c22d30afc0...,0x4109b9fb213bccffabe46905f20a74d39ba41843,0xa0cf46eb152656c7090e769916eb44a138aaa406,0.000000,True,True,2021-07-27 09:22:00,270,55705.0,1.700090e-08,46421,0.000789,0x095ea7b3000000000000000000000000e592427a0aec...,0,10029939
71189,71189,0x6bab84401368d35e1225d830b980b80bdb9292dacc26...,0x4109b9fb213bccffabe46905f20a74d39ba41843,0x8a2279d4a90b6fe1c4b30fa660cc9f926797baa2,0.000000,True,True,2021-07-27 09:39:00,271,43510.0,2.100000e-08,43510,0.000914,0xa9059cbb00000000000000000000000033c3b7160765...,1,11534447
71190,71190,0x4493b18f78f71c55c8bf519d35f704e5dcdae2411281...,0x4109b9fb213bccffabe46905f20a74d39ba41843,0x4109b9fb213bccffabe46905f20a74d39ba41843,0.000000,True,True,2021-07-27 10:57:00,272,21000.0,2.700000e-08,21000,0.000567,0x,0,5042963
71191,71191,0x202832facbe880d7d9324df10939d4232947bf9d1059...,0x4109b9fb213bccffabe46905f20a74d39ba41843,0x4109b9fb213bccffabe46905f20a74d39ba41843,0.000000,True,True,2021-07-27 10:58:00,273,21000.0,2.640000e-08,21000,0.000554,0x,0,13150018
71192,71192,0x4ca0050a0a135aa0366d183e51e79f157179ae92704a...,0x604f8ee76c9f2efb892360dc27b42ba3cdbfb760,0x4109b9fb213bccffabe46905f20a74d39ba41843,0.000083,False,True,2021-07-27 23:16:00,16,21000.0,2.400000e-08,21000,0.000504,0x,0,13142743

## get the balance of the addresses

In [36]:
def balance_api_call(addresses, api_key):
    # url placeholders
    
    base_url = "https://api.etherscan.io/api"
    url = f"{base_url}?module=account&action=balance&address={list_to_string(addresses)}&tag=latest&apikey={api_key}"

    try:
        response = requests.get(url, verify=certifi.where())

        #print(response.status_code)
        if response.status_code == 200:
            address_content = response.json()
            
            if address_content.get("message") == "NOTOK":
                return {}

            #sleep(1) # TODO this is a hack to prevent 'DNS Erros / Connection refused Erros after a ton of request to the api                
            return address_content.get("result")#list of dictionaries
        else:
            return {}
    except Exception as error:
        print(error)
        return {}

In [386]:
#test API call: 
#-> gives Balance in Gwei at the time of retrieval
result = balance_api_call("0x0230c0f62a61d77c62c48b162f6dec2be8dc4d20", 'QXYD8MMH1JIKKQRSAMUUNM16XEJTI5H7NQ')
Decimal(result)

Decimal('11483144030075337')

In [37]:
#Get balance for addresses (date: Monday, August 30, 8pm CEST)
address_balance = []

for index, row in df3.iterrows():
    result = balance_api_call(row.wallet_address, "QXYD8MMH1JIKKQRSAMUUNM16XEJTI5H7NQ")
    address_balance.append({"address_balance":result})

    
address_balance = pd.DataFrame(address_balance)
df3.loc[:,"address_balance"]= address_balance

/Users/Kenneth/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1717: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, v)

In [63]:
df3

,sow_estimated_net_worth_value,address,wallet_address,full_name,address_length,address_beginning
0,0,emiliamalina65@gmail.com,0x96597f984c9c6aa027bba6851ec5946a40d2d014,EMILIA MARIA MALINA,42,0x
1,0,xyzbatyucky@gmail.com,0xe46a2b5ef63dded48f32567e50646da888f4a994,YUKINORI OYA,42,0x
2,0,assassincross75@gmail.com,0x2fd6f509245ae085945d9710f54a955c06c8a036,Сергей Перекатенков,42,0x
3,0,aminulislammym@gmail.com,0x58e7e60534251b5ca9a5e48f3aad2621578c1be6,MOSAMMOT PARUL AKTER,42,0x
4,0,DallasHollytg34@gmail.com,0xf86015e1976124c3fdcaf78045632a7fab8e110b,MINHO PARK,42,0x
...,...,...,...,...,...,...
639,0,qaiser110@gmail.com,0x2ea88d3ab922bdc989f8cec210385932b5517ca3,Qaiser Abbas,42,0x
640,0,mail.mihail@protonmail.com,0x575c5eb41fac43b7d1871500984ff2c08f44a5ca,MIHAIL ANGELOV PETROV,42,0x
641,0,motbatminhels@gmail.com,0x375f26340b79c6bea7abae77e31ec73e8ff39697,Nguyễn Đức Mạnh,42,0x
642,0,eenie.meenie.minie@gmail.com,0x782e9030dc7695b0261ba8e1b2941b293fb14dd6,AHMAT FAKI,42,0x
643,0,newworld1605@gmail.com,0x3a85dcc9a9e32752e07f0521513b7754b4bef073,Sai Bhushan Uppla,42,0x

## Get the neighboars of the fetched data

In [119]:
def get_first_neighboars(lookup_address, transactions=transaction_df):
    """
        param: transactions -> pd.Dataframe same shape as transaction_df
    """

    lookup_person = lookup_address
    # print(lookup_person)

    outgoing_transactions =  transactions[(transactions.tx_from == lookup_person) & (transactions.out == True)]
    outgoing_neighboars = outgoing_transactions.drop_duplicates(subset='tx_to')
    # print(len(outgoing_neighboars))

    incomming_transactions =  transactions[(transactions.tx_to == lookup_person) & (transactions.out == False)]
    incomming_neighboars = incomming_transactions.drop_duplicates(subset='tx_from')
    # print(len(incomming_neighboars))

    list_ = outgoing_neighboars.tx_to.to_list()
    list_ += incomming_neighboars.tx_from.to_list()


    first_neighboars = pd.DataFrame({'neighboar': list_, 'id': [lookup_address for i in list_]})
    first_neighboars = first_neighboars.drop_duplicates(subset='neighboar')

    return first_neighboars

In [120]:
def get_first_out_neighboars(lookup_address, transactions=transaction_df):
    """
        param: transactions -> pd.Dataframe same shape as transaction_df
    """

    lookup_person = lookup_address
    # print(lookup_person)

    outgoing_transactions =  transactions[(transactions.tx_from == lookup_person) & (transactions.out == True)]
    outgoing_neighboars = outgoing_transactions.drop_duplicates(subset='tx_to')
    # print(len(outgoing_neighboars))

    list_ = outgoing_neighboars.tx_to.to_list()

    first_neighboars_out = pd.DataFrame({'neighboar': list_, 'id': [lookup_address for i in list_]})
    first_neighboars_out = first_neighboars_out.drop_duplicates(subset='neighboar')

    return first_neighboars_out

In [121]:
def get_first_neighboars_in(lookup_address, transactions=transaction_df):
    """
        param: transactions -> pd.Dataframe same shape as transaction_df
    """

    lookup_person = lookup_address
    # print(lookup_person)

    incomming_transactions =  transactions[(transactions.tx_to == lookup_person) & (transactions.out == False)]
    incomming_neighboars = incomming_transactions.drop_duplicates(subset='tx_from')
    # print(len(incomming_neighboars))

    list_ = incomming_neighboars.tx_from.to_list()


    first_neighboars_in = pd.DataFrame({'neighboar': list_, 'id': [lookup_address for i in list_]})
    first_neighboars_in = first_neighboars_in.drop_duplicates(subset='neighboar')

    return first_neighboars_in

## Get first neighboar for every address in d3

In [122]:
neighboars = []

for index, row in df3.iterrows():
    
    result = get_first_neighboars(row.wallet_address)
    neighboars.append(result)
    
neighboars = pd.concat(neighboars)
neighboars

,neighboar,id
0,0x45555629aabfea138ead1c1e5f2ac3cce2add830,0x61797662af0280d3090a53d69da71ec9dc9626d9
1,0x22d1755515bef4afd277d8acd42adbac49c77d43,0x61797662af0280d3090a53d69da71ec9dc9626d9
2,0x4e355b98f94c4a6461bcbcf06efb1ad5633b7595,0x61797662af0280d3090a53d69da71ec9dc9626d9
3,0x45ed02e374aef2e4b34c04e86ad9d45891d10751,0x61797662af0280d3090a53d69da71ec9dc9626d9
4,0x80c8cbaaebc6cd536359354031673b520f0841f3,0x61797662af0280d3090a53d69da71ec9dc9626d9
...,...,...
142,0x3f5ce5fbfe3e9af3971dd833d26ba9b5c936f0be,0x4109b9fb213bccffabe46905f20a74d39ba41843
143,0x86dfd9ddb984cabec5e84c1750fd64d5a3b11b13,0x4109b9fb213bccffabe46905f20a74d39ba41843
144,0x6ba98867bb7bc55107a362567e6178de6769c140,0x4109b9fb213bccffabe46905f20a74d39ba41843
145,0x242d17fb621fb989c57de50a2fe8bdb896b924c1,0x4109b9fb213bccffabe46905f20a74d39ba41843
146,0xc4bc30a6ba859886e91e2a0e628deba4ffa273d4,0x4109b9fb213bccffabe46905f20a74d39ba41843

In [123]:
neighboars_out = []

for index, row in df3.iterrows():
    
    result = get_first_out_neighboars(row.wallet_address)
    neighboars_out.append(result)
    
neighboars_out = pd.concat(neighboars_out)
neighboars_out

,neighboar,id
0,0x45555629aabfea138ead1c1e5f2ac3cce2add830,0x61797662af0280d3090a53d69da71ec9dc9626d9
1,0x22d1755515bef4afd277d8acd42adbac49c77d43,0x61797662af0280d3090a53d69da71ec9dc9626d9
2,0x4e355b98f94c4a6461bcbcf06efb1ad5633b7595,0x61797662af0280d3090a53d69da71ec9dc9626d9
3,0x45ed02e374aef2e4b34c04e86ad9d45891d10751,0x61797662af0280d3090a53d69da71ec9dc9626d9
4,0x80c8cbaaebc6cd536359354031673b520f0841f3,0x61797662af0280d3090a53d69da71ec9dc9626d9
...,...,...
127,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x4109b9fb213bccffabe46905f20a74d39ba41843
128,0xe592427a0aece92de3edee1f18e0157c05861564,0x4109b9fb213bccffabe46905f20a74d39ba41843
129,0xc12d1c73ee7dc3615ba4e37e4abfdbddfa38907e,0x4109b9fb213bccffabe46905f20a74d39ba41843
130,0xa0cf46eb152656c7090e769916eb44a138aaa406,0x4109b9fb213bccffabe46905f20a74d39ba41843
131,0x8a2279d4a90b6fe1c4b30fa660cc9f926797baa2,0x4109b9fb213bccffabe46905f20a74d39ba41843

In [124]:
neighboars_in = []

for index, row in df3.iterrows():
    
    result = get_first_neighboars_in(row.wallet_address)
    neighboars_in.append(result)
    
neighboars_in = pd.concat(neighboars_in)
neighboars_in

,neighboar,id
0,0xbf79e9e31b530441dc3c9daeb985a0f2f64392b1,0x61797662af0280d3090a53d69da71ec9dc9626d9
1,0x80c8cbaaebc6cd536359354031673b520f0841f3,0x61797662af0280d3090a53d69da71ec9dc9626d9
2,0xab0b2a0ef64db239ec0441d64eaeb164c34a2bc6,0x61797662af0280d3090a53d69da71ec9dc9626d9
3,0x55ba9c90c37e3206570ac9dc872c0f053d155f77,0x61797662af0280d3090a53d69da71ec9dc9626d9
0,0x8f22f2063d253846b53609231ed80fa571bc0c8f,0x2c165a91035b1c0b44e8dfc3e5b5e24f562d4a44
...,...,...
10,0x3f5ce5fbfe3e9af3971dd833d26ba9b5c936f0be,0x4109b9fb213bccffabe46905f20a74d39ba41843
11,0x86dfd9ddb984cabec5e84c1750fd64d5a3b11b13,0x4109b9fb213bccffabe46905f20a74d39ba41843
12,0x6ba98867bb7bc55107a362567e6178de6769c140,0x4109b9fb213bccffabe46905f20a74d39ba41843
13,0x242d17fb621fb989c57de50a2fe8bdb896b924c1,0x4109b9fb213bccffabe46905f20a74d39ba41843
14,0xc4bc30a6ba859886e91e2a0e628deba4ffa273d4,0x4109b9fb213bccffabe46905f20a74d39ba41843

In [81]:
neighboars

,neighboar,id
0,0x45555629aabfea138ead1c1e5f2ac3cce2add830,0x61797662af0280d3090a53d69da71ec9dc9626d9
1,0x22d1755515bef4afd277d8acd42adbac49c77d43,0x61797662af0280d3090a53d69da71ec9dc9626d9
2,0x4e355b98f94c4a6461bcbcf06efb1ad5633b7595,0x61797662af0280d3090a53d69da71ec9dc9626d9
3,0x45ed02e374aef2e4b34c04e86ad9d45891d10751,0x61797662af0280d3090a53d69da71ec9dc9626d9
4,0x80c8cbaaebc6cd536359354031673b520f0841f3,0x61797662af0280d3090a53d69da71ec9dc9626d9
...,...,...
127,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x4109b9fb213bccffabe46905f20a74d39ba41843
128,0xe592427a0aece92de3edee1f18e0157c05861564,0x4109b9fb213bccffabe46905f20a74d39ba41843
129,0xc12d1c73ee7dc3615ba4e37e4abfdbddfa38907e,0x4109b9fb213bccffabe46905f20a74d39ba41843
130,0xa0cf46eb152656c7090e769916eb44a138aaa406,0x4109b9fb213bccffabe46905f20a74d39ba41843
131,0x8a2279d4a90b6fe1c4b30fa660cc9f926797baa2,0x4109b9fb213bccffabe46905f20a74d39ba41843

## Get transactions for first neighboars

In [88]:
neighboar_transactions = []

placeholder = []
for i in range(0, len(neighboars)):
    id_ = neighboars.iloc[i].id
    neighboar_ = neighboars.iloc[i].neighboar

    transactions = get_transactions_by_address(neighboar_, numbers_transactions=1600)
    transactions = pd.DataFrame(transactions).transpose()
    transactions["id"] = id_
    transactions["neighboar"] = neighboar_
    placeholder.append(transactions)

first_neighboars_transactions = pd.concat(placeholder)
first_neighboars_transactions

,hash,tx_from,tx_to,eth_value,out,confirmed,timeStamp,nonce,gas,will_gas_Price,gasUsed,transaction_cost,data_transaction,isError,cumulativeGasUsed,id,neighboar
0,0x16bd0d93070e6e3ee44bb9982e3a192bc5809329879d...,0x4edc0beccec6712a6c312131051a7902bcb769d4,,0,False,True,2018-02-09 21:50:00,6,1.95666e+06,1.1E-10,956662,0.00010523282,0x606060405260408051908101604052600881527f4645...,0,6750713,0x61797662af0280d3090a53d69da71ec9dc9626d9,0x45555629aabfea138ead1c1e5f2ac3cce2add830
1,0xd137e4fa5e83cbf9ef385edd7c4016b7a42dca272d4f...,0xdf74d3e057301c7ed22fc09ce6088de4ac74d4d8,0x45555629aabfea138ead1c1e5f2ac3cce2add830,0,False,True,2018-02-09 23:45:00,6,1e+06,1.1E-11,52184,5.74024E-7,0x,0,5981738,0x61797662af0280d3090a53d69da71ec9dc9626d9,0x45555629aabfea138ead1c1e5f2ac3cce2add830
2,0xc7697e973b8f409361b6dfddb2e38603fcfc8de717bd...,0xc046a1f93d53fd5cd89b46dba0f2bb0d65122a6f,0x45555629aabfea138ead1c1e5f2ac3cce2add830,0,False,True,2018-02-10 01:00:00,8,1e+06,1.1E-11,52184,5.74024E-7,0x,0,6607762,0x61797662af0280d3090a53d69da71ec9dc9626d9,0x45555629aabfea138ead1c1e5f2ac3cce2add830
3,0x17b7924f56df1ab13e4be43d5e3b94f424249e177a8f...,0x27a6a4cbe7ce730597514552e81189b00ccb6d18,0x45555629aabfea138ead1c1e5f2ac3cce2add830,0,False,True,2018-02-10 01:00:00,9,1e+06,1.1E-11,52184,5.74024E-7,0x,0,6659946,0x61797662af0280d3090a53d69da71ec9dc9626d9,0x45555629aabfea138ead1c1e5f2ac3cce2add830
4,0x6a3603650905c7a0396eeb35d722cdddca44278001f6...,0xfef84af8d642f5a65382640feafd744cb6dffc0f,0x45555629aabfea138ead1c1e5f2ac3cce2add830,0,False,True,2018-02-10 01:47:00,2,73378,8E-9,52184,0.000417472,0x,0,3004733,0x61797662af0280d3090a53d69da71ec9dc9626d9,0x45555629aabfea138ead1c1e5f2ac3cce2add830
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1595,0xcacbd3d8e88348d9082dea6258b67171330607359fec...,0xa173600b94451755719e17238e53b393b913b9c2,0x8a2279d4a90b6fe1c4b30fa660cc9f926797baa2,0,False,True,2020-11-01 05:37:00,6126,100000,5E-8,50978,0.00254890,0xa9059cbb0000000000000000000000001671a3e4a251...,0,574127,0x4109b9fb213bccffabe46905f20a74d39ba41843,0x8a2279d4a90b6fe1c4b30fa660cc9f926797baa2
1596,0x13f836bbf0c88a3b9a9b07a1271fda627b523dc27beb...,0x29b012bfe15eb0951bea51cf543e32bd7c8376c5,0x8a2279d4a90b6fe1c4b30fa660cc9f926797baa2,0,False,True,2020-11-01 05:50:00,2821,120000,7.1E-8,20966,0.001488586,0xa9059cbb000000000000000000000000f3330332f522...,0,373948,0x4109b9fb213bccffabe46905f20a74d39ba41843,0x8a2279d4a90b6fe1c4b30fa660cc9f926797baa2
1597,0xdf16a8c3be08f7eb81fa11384e9546559e472a6c6bbe...,0xa173600b94451755719e17238e53b393b913b9c2,0x8a2279d4a90b6fe1c4b30fa660cc9f926797baa2,0,False,True,2020-11-01 06:03:00,6127,100000,5E-8,50978,0.00254890,0xa9059cbb000000000000000000000000d17d4e3b6580...,0,2291847,0x4109b9fb213bccffabe46905f20a74d39ba41843,0x8a2279d4a90b6fe1c4b30fa660cc9f926797baa2
1598,0x14d4eda3dfaafb73decba63c7966dbf9b016cb0862e8...,0x909b70c61fcc171f6dd4f56ca0a03f2b35674472,0x8a2279d4a90b6fe1c4b30fa660cc9f926797baa2,0,False,True,2020-11-01 06:59:00,0,100000,6E-8,20978,0.00125868,0xa9059cbb000000000000000000000000758716e7e12f...,0,3201933,0x4109b9fb213bccffabe46905f20a74d39ba41843,0x8a2279d4a90b6fe1c4b30fa660cc9f926797baa2
1599,0xd2a29722ef4bf7c7ccda4372645aea1d5f14aa870a66...,0xa173600b94451755719e17238e53b393b913b9c2,0x8a2279d4a90b6fe1c4b30fa660cc9f926797baa2,0,False,True,2020-11-01 07:11:00,6128,100000,4.5E-8,50954,0.002292930,0xa9059cbb000000000000000000000000bdb8dfafc829...,0,1937908,0x4109b9fb213bccffabe46905f20a74d39ba41843,0x8a2279d4a90b6fe1c4b30fa660cc9f926797baa2

In [90]:
first_neighboars_transactions.to_csv("New_data1_neighb_transactions0709.csv")

In [91]:
EL_neighb_normal = pd.read_csv("New_data1_neighb_transactions0709.csv", header = 0)
EL_neighb_normal #edge list of neighbor tx (normal)

,Unnamed: 0,hash,tx_from,tx_to,eth_value,out,confirmed,timeStamp,nonce,gas,will_gas_Price,gasUsed,transaction_cost,data_transaction,isError,cumulativeGasUsed,id,neighboar
0,0,0x16bd0d93070e6e3ee44bb9982e3a192bc5809329879d...,0x4edc0beccec6712a6c312131051a7902bcb769d4,NaN,0.0,False,True,2018-02-09 21:50:00,6,1956662.0,1.100000e-10,956662,1.052328e-04,0x606060405260408051908101604052600881527f4645...,0,6750713,0x61797662af0280d3090a53d69da71ec9dc9626d9,0x45555629aabfea138ead1c1e5f2ac3cce2add830
1,1,0xd137e4fa5e83cbf9ef385edd7c4016b7a42dca272d4f...,0xdf74d3e057301c7ed22fc09ce6088de4ac74d4d8,0x45555629aabfea138ead1c1e5f2ac3cce2add830,0.0,False,True,2018-02-09 23:45:00,6,1000000.0,1.100000e-11,52184,5.740240e-07,0x,0,5981738,0x61797662af0280d3090a53d69da71ec9dc9626d9,0x45555629aabfea138ead1c1e5f2ac3cce2add830
2,2,0xc7697e973b8f409361b6dfddb2e38603fcfc8de717bd...,0xc046a1f93d53fd5cd89b46dba0f2bb0d65122a6f,0x45555629aabfea138ead1c1e5f2ac3cce2add830,0.0,False,True,2018-02-10 01:00:00,8,1000000.0,1.100000e-11,52184,5.740240e-07,0x,0,6607762,0x61797662af0280d3090a53d69da71ec9dc9626d9,0x45555629aabfea138ead1c1e5f2ac3cce2add830
3,3,0x17b7924f56df1ab13e4be43d5e3b94f424249e177a8f...,0x27a6a4cbe7ce730597514552e81189b00ccb6d18,0x45555629aabfea138ead1c1e5f2ac3cce2add830,0.0,False,True,2018-02-10 01:00:00,9,1000000.0,1.100000e-11,52184,5.740240e-07,0x,0,6659946,0x61797662af0280d3090a53d69da71ec9dc9626d9,0x45555629aabfea138ead1c1e5f2ac3cce2add830
4,4,0x6a3603650905c7a0396eeb35d722cdddca44278001f6...,0xfef84af8d642f5a65382640feafd744cb6dffc0f,0x45555629aabfea138ead1c1e5f2ac3cce2add830,0.0,False,True,2018-02-10 01:47:00,2,73378.0,8.000000e-09,52184,4.174720e-04,0x,0,3004733,0x61797662af0280d3090a53d69da71ec9dc9626d9,0x45555629aabfea138ead1c1e5f2ac3cce2add830
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17591549,1595,0xcacbd3d8e88348d9082dea6258b67171330607359fec...,0xa173600b94451755719e17238e53b393b913b9c2,0x8a2279d4a90b6fe1c4b30fa660cc9f926797baa2,0.0,False,True,2020-11-01 05:37:00,6126,100000.0,5.000000e-08,50978,2.548900e-03,0xa9059cbb0000000000000000000000001671a3e4a251...,0,574127,0x4109b9fb213bccffabe46905f20a74d39ba41843,0x8a2279d4a90b6fe1c4b30fa660cc9f926797baa2
17591550,1596,0x13f836bbf0c88a3b9a9b07a1271fda627b523dc27beb...,0x29b012bfe15eb0951bea51cf543e32bd7c8376c5,0x8a2279d4a90b6fe1c4b30fa660cc9f926797baa2,0.0,False,True,2020-11-01 05:50:00,2821,120000.0,7.100000e-08,20966,1.488586e-03,0xa9059cbb000000000000000000000000f3330332f522...,0,373948,0x4109b9fb213bccffabe46905f20a74d39ba41843,0x8a2279d4a90b6fe1c4b30fa660cc9f926797baa2
17591551,1597,0xdf16a8c3be08f7eb81fa11384e9546559e472a6c6bbe...,0xa173600b94451755719e17238e53b393b913b9c2,0x8a2279d4a90b6fe1c4b30fa660cc9f926797baa2,0.0,False,True,2020-11-01 06:03:00,6127,100000.0,5.000000e-08,50978,2.548900e-03,0xa9059cbb000000000000000000000000d17d4e3b6580...,0,2291847,0x4109b9fb213bccffabe46905f20a74d39ba41843,0x8a2279d4a90b6fe1c4b30fa660cc9f926797baa2
17591552,1598,0x14d4eda3dfaafb73decba63c7966dbf9b016cb0862e8...,0x909b70c61fcc171f6dd4f56ca0a03f2b35674472,0x8a2279d4a90b6fe1c4b30fa660cc9f926797baa2,0.0,False,True,2020-11-01 06:59:00,0,100000.0,6.000000e-08,20978,1.258680e-03,0xa9059cbb000000000000000000000000758716e7e12f...,0,3201933,0x4109b9fb213bccffabe46905f20a74d39ba41843,0x8a2279d4a90b6fe1c4b30fa660cc9f926797baa2
17591553,1599,0xd2a29722ef4bf7c7ccda4372645aea1d5f14aa870a66...,0xa173600b94451755719e17238e53b393b913b9c2,0x8a2279d4a90b6fe1c4b30fa660cc9f926797baa2,0.0,False,True,2020-11-01 07:11:00,6128,100000.0,4.500000e-08,50954,2.292930e-03,0xa9059cbb000000000000000000000000bdb8dfafc829...,0,1937908,0x4109b9fb213bccffabe46905f20a74d39ba41843,0x8a2279d4a90b6fe1c4b30fa660cc9f926797baa2

In [92]:
import random
random.seed(10)

EL_small = EL_neighb_normal.sample(frac = 0.1)
len(EL_small)

1759155

## Calculate TX of the normal edge lists in USD

### calc USD for TX original adresses

In [9]:
#read in the USD/ETH data
ethUSD= pd.read_csv('ETH_1min.txt', header = None)
ethUSD.columns = ["timeStamp", "Open", "High", "Low", "Close", "Volume"]
ethUSD_s = ethUSD[["timeStamp",  "Close"]].copy()

In [126]:
#redefine the timeStamp column with a string
transaction_df.timeStamp = transaction_df.timeStamp.astype(str)

In [127]:
#merge the exchange and the transaction data with respect to the time Stamp #reminder -> some data older than 2016/03 is lost
df_test = pd.merge(transaction_df, ethUSD_s, on='timeStamp')

In [128]:
#calculate approx. value of transaction parameters in USD
df_test["eth_valueUSD"] = df_test.eth_value.astype("float") * df_test.Close
df_test["transaction_costUSD"] = df_test.transaction_cost.astype("float") * df_test.Close
df_test["will_gas_PriceUSD"] = df_test.will_gas_Price.astype("float") * df_test.Close

In [129]:
df_test.to_csv("addit_DFtest0709.csv")

In [5]:
df_test = pd.read_csv("addit_DFtest0709.csv", header = 0)

In [131]:
df_test

,Unnamed: 0,Unnamed: 0.1,hash,tx_from,tx_to,eth_value,out,confirmed,timeStamp,nonce,...,will_gas_Price,gasUsed,transaction_cost,data_transaction,isError,cumulativeGasUsed,Close,eth_valueUSD,transaction_costUSD,will_gas_PriceUSD
0,0,0,0xd3f0d6b0709c7d6fb2ac94849d9a76ebb0c7474f6f2c...,0xbf79e9e31b530441dc3c9daeb985a0f2f64392b1,0x61797662af0280d3090a53d69da71ec9dc9626d9,0.010000,False,True,2018-02-19 06:41:00,5365,...,3.100000e-09,21000,0.000065,0x,0,6220796,943.10,9.431000,0.061396,2.923610e-06
1,1,1,0xef368fe9d831552592967f562e13c5f4e22e436f580f...,0x61797662af0280d3090a53d69da71ec9dc9626d9,0x45555629aabfea138ead1c1e5f2ac3cce2add830,0.000000,True,True,2018-02-19 06:49:00,0,...,1.000000e-09,52184,0.000052,0x,0,4906503,944.65,0.000000,0.049296,9.446500e-07
2,2,2,0x5bc21b578b49ef82773ccc374dd91f9355b65235aa16...,0x61797662af0280d3090a53d69da71ec9dc9626d9,0x22d1755515bef4afd277d8acd42adbac49c77d43,0.000000,True,True,2018-02-19 07:00:00,1,...,2.000000e-09,83823,0.000168,0x,0,7758495,945.81,0.000000,0.158561,1.891620e-06
3,3,3,0xc57c791aeda11586549e3cbfcf3811c6b28120eced8b...,0x61797662af0280d3090a53d69da71ec9dc9626d9,0x4e355b98f94c4a6461bcbcf06efb1ad5633b7595,0.000500,True,True,2018-03-16 17:49:00,2,...,4.000000e-09,68839,0.000275,0x,0,6780707,611.06,0.305530,0.168259,2.444240e-06
4,4,4,0xb2b4d1f0cc104a85d450ad92fc53cbfd39566d68f47a...,0x61797662af0280d3090a53d69da71ec9dc9626d9,0x45ed02e374aef2e4b34c04e86ad9d45891d10751,0.000310,True,True,2018-08-12 16:50:00,3,...,5.000000e-09,21000,0.000105,0x,1,5351876,320.25,0.099278,0.033626,1.601250e-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63556,63556,71182,0x72d71d0c3ca8ce29102cfe989d57e3f9ab3e7a14268c...,0x4109b9fb213bccffabe46905f20a74d39ba41843,0xc12d1c73ee7dc3615ba4e37e4abfdbddfa38907e,0.000000,True,True,2021-06-23 20:48:00,265,...,1.000000e-08,46642,0.000466,0x095ea7b3000000000000000000000000e592427a0aec...,0,13112882,1935.56,0.000000,0.902784,1.935560e-05
63557,63557,71183,0x59b921f89600e5b7be53a868aa173f10abfa12f26a60...,0x4109b9fb213bccffabe46905f20a74d39ba41843,0xc12d1c73ee7dc3615ba4e37e4abfdbddfa38907e,0.000000,True,True,2021-06-23 20:48:00,266,...,1.329396e-08,26742,0.000356,0x095ea7b3000000000000000000000000e592427a0aec...,0,13139624,1935.56,0.000000,0.688105,2.573127e-05
63558,63558,71184,0xe78634c37265beb1507a4a1e295de0c666d9e702f43b...,0x4109b9fb213bccffabe46905f20a74d39ba41843,0x4c6ec08cf3fc987c6c4beb03184d335a2dfc4042,0.000000,True,True,2021-06-23 20:50:00,267,...,1.100000e-08,46458,0.000511,0x095ea7b3000000000000000000000000e592427a0aec...,0,13939849,1933.01,0.000000,0.987842,2.126311e-05
63559,63559,71185,0xca88ba6cea2a5c0f77aa0d0d157a95cf9dee862d68bc...,0x4109b9fb213bccffabe46905f20a74d39ba41843,0xe592427a0aece92de3edee1f18e0157c05861564,0.000000,True,True,2021-06-23 20:56:00,268,...,1.100000e-08,117439,0.001292,0xac9650d8000000000000000000000000000000000000...,0,11707342,1928.58,0.000000,2.491396,2.121438e-05
63560,63560,71186,0xe95ed29173ada98e652742bbecce0db529c7e89c5e57...,0x4109b9fb213bccffabe46905f20a74d39ba41843,0x33c3b7160765601686e43146ea557a9934cbd7c3,0.050338,True,True,2021-06-23 20:58:00,269,...,1.100000e-08,21000,0.000231,0x,0,4492285,1932.02,97.254050,0.446297,2.125222e-05

### calc USD for 1st neighb normal TX

In [132]:
EL_neighb_normal.timeStamp = EL_neighb_normal.timeStamp.astype(str)

In [133]:
df_Neighb_normal_USD = pd.merge(EL_neighb_normal, ethUSD_s, on='timeStamp')
df_Neighb_normal_USD["eth_valueUSD"] = df_Neighb_normal_USD.eth_value.astype("float") * df_Neighb_normal_USD.Close
df_Neighb_normal_USD["transaction_costUSD"] = df_Neighb_normal_USD.transaction_cost.astype("float") * df_Neighb_normal_USD.Close
df_Neighb_normal_USD["will_gas_PriceUSD"] = df_Neighb_normal_USD.will_gas_Price.astype("float") * df_Neighb_normal_USD.Close

In [134]:
df_Neighb_normal_USD.head() #final EL for normal neighb transactions

,Unnamed: 0,hash,tx_from,tx_to,eth_value,out,confirmed,timeStamp,nonce,gas,...,transaction_cost,data_transaction,isError,cumulativeGasUsed,id,neighboar,Close,eth_valueUSD,transaction_costUSD,will_gas_PriceUSD
0,0,0x16bd0d93070e6e3ee44bb9982e3a192bc5809329879d...,0x4edc0beccec6712a6c312131051a7902bcb769d4,NaN,0.0,False,True,2018-02-09 21:50:00,6,1956662.0,...,1.052328e-04,0x606060405260408051908101604052600881527f4645...,0,6750713,0x61797662af0280d3090a53d69da71ec9dc9626d9,0x45555629aabfea138ead1c1e5f2ac3cce2add830,888.78,0.0,0.093529,9.776580e-08
1,0,0x16bd0d93070e6e3ee44bb9982e3a192bc5809329879d...,0x4edc0beccec6712a6c312131051a7902bcb769d4,NaN,0.0,False,True,2018-02-09 21:50:00,6,1956662.0,...,1.052328e-04,0x606060405260408051908101604052600881527f4645...,0,6750713,0xbcc35393c3456e4000c0761fb0970548ceba4013,0x45555629aabfea138ead1c1e5f2ac3cce2add830,888.78,0.0,0.093529,9.776580e-08
2,0,0x16bd0d93070e6e3ee44bb9982e3a192bc5809329879d...,0x4edc0beccec6712a6c312131051a7902bcb769d4,NaN,0.0,False,True,2018-02-09 21:50:00,6,1956662.0,...,1.052328e-04,0x606060405260408051908101604052600881527f4645...,0,6750713,0xdf4d8d9ba2454ac4185ebc8a4a8fee91e6da5423,0x45555629aabfea138ead1c1e5f2ac3cce2add830,888.78,0.0,0.093529,9.776580e-08
3,0,0x16bd0d93070e6e3ee44bb9982e3a192bc5809329879d...,0x4edc0beccec6712a6c312131051a7902bcb769d4,NaN,0.0,False,True,2018-02-09 21:50:00,6,1956662.0,...,1.052328e-04,0x606060405260408051908101604052600881527f4645...,0,6750713,0x108f0ec0d7f05490b7fa284de5f1d4b1dfb64dbf,0x45555629aabfea138ead1c1e5f2ac3cce2add830,888.78,0.0,0.093529,9.776580e-08
4,1,0xd137e4fa5e83cbf9ef385edd7c4016b7a42dca272d4f...,0xdf74d3e057301c7ed22fc09ce6088de4ac74d4d8,0x45555629aabfea138ead1c1e5f2ac3cce2add830,0.0,False,True,2018-02-09 23:45:00,6,1000000.0,...,5.740240e-07,0x,0,5981738,0x61797662af0280d3090a53d69da71ec9dc9626d9,0x45555629aabfea138ead1c1e5f2ac3cce2add830,887.35,0.0,0.000509,9.760850e-09

import random
random.seed(10)

small_Neighb_normal_USD = df_Neighb_normal_USD.sample(frac = 0.1)
len(small_Neighb_normal_USD)

# Get ERC20 TX

In [135]:
from time import sleep

def erc20_api_call(addresses, numbers_transactions, api_key):
    # url placeholders
    
    base_url = "https://api.etherscan.io/api"
    url = f"{base_url}?module=account&action=tokentx&address={list_to_string(addresses)}&startblock=0&endblock=99999999&page=1&offset={str(numbers_transactions)}&sort=asc&apikey={api_key}"

    try:
        response = requests.get(url, verify=certifi.where())

        #print(response.status_code)
        if response.status_code == 200:
            address_content = response.json()
            
            if address_content.get("message") == "NOTOK":
                return {}

            #sleep(1) # TODO this is a hack to prevent 'DNS Erros / Connection refused Erros after a ton of request to the api                
            return address_content.get("result")#list of dictionaries
        else:
            return {}
    except Exception as error:
        print(error)
        return {}

In [136]:
#create tx function for getting erc20 tokens 
def get_erc20_token_by_address(address, numbers_transactions, api_key='QXYD8MMH1JIKKQRSAMUUNM16XEJTI5H7NQ'):
    data = defaultdict(dict)

    try: # this makes sure the programm is not crashing; even if the api call failes
        result = erc20_api_call(address, numbers_transactions, api_key)

    except Exception as error:
        print(error)

        data[0]["hash"] = "" #hash of the transaction
        data[0]["tx_from"] = "" #sender address
        data[0]["tx_to"] = "" #receiver
        data[0]["eth_value"] = 0 #value in eth
        data[0]["out"] = False # dummy - true if the address is sending the money
        data[0]["confirmed"] = False # if the transaction is confirmed
        data[0]["timeStamp"] = datetime.strptime("2000-08-01 12:30", '%Y-%m-%d %H:%M')
        data[0]["nonce"] = 0 #number of confirmed transactions originated from this address
        data[0]["gas"] = 0 #gas Limit -> wie viel gas einheiten man max. zahlen würde
        data[0]["will_gas_Price"] = 0 #How much the transaction originator is willing t. pay in Wei per gas unit
        data[0]["gasUsed"] = 0 #How much gas was used at the end
        data[0]["transaction_cost"] = 0
        data[0]["data_transaction"] = ""
        data[0]["isError"] = 0
        data[0]["cumulativeGasUsed"] = 0
        data[0]["tokenName"] = ""
        data[0]["tokenSymbol"] = ""
        data[0]["tokenDecimal"] = 0
        return data

    
    for n, transaction in enumerate(result):
        hashs = transaction.get("hash")
        tx_from = transaction.get("from")
        tx_to = transaction.get("to")
        value = transaction.get("value")
        confirmations = transaction.get("confirmations")
        time = datetime.utcfromtimestamp(int(transaction.get("timeStamp"))).strftime('%Y-%m-%d %H:%M')
        nonce = transaction.get("nonce")
        gas = float(transaction.get("gas"))
        gasPrice = float(transaction.get("gasPrice"))
        gasUsed = transaction.get("gasUsed")
        datatx = transaction.get("input")
        error = transaction.get("isError")
        cumulativeGasUsed = transaction.get("cumulativeGasUsed")
        tokenName = transaction.get("tokenName")
        tokenSymbol = transaction.get("tokenSymbol")
        tokenDecimal = transaction.get("tokenDecimal")
        
        if tx_from == address:
            out = True
        else: 
            out = False

        eth_value = Decimal(value) / Decimal("1000000000000000000") #float test sodass Zahl
        
        gasprice_eth = Decimal(gasPrice) / Decimal("1000000000000000000")
        transaction_cost = Decimal(gasprice_eth) * Decimal(gasUsed)
        if int(confirmations) >=16:
            confirmed = True
        else:
            confirmed = False
        
        data[n]["hash"] = hashs #hash of the transaction
        data[n]["tx_from"] = tx_from #sender address
        data[n]["tx_to"] = tx_to #receiver
        data[n]["eth_value"] = eth_value #value in eth
        data[n]["out"] = out # dummy - true if the address is sending the money
        data[n]["confirmed"] = confirmed # if the transaction is confirmed
        data[n]["timeStamp"] = datetime.strptime(time, '%Y-%m-%d %H:%M')
        data[n]["nonce"] = nonce #number of confirmed transactions originated from this address
        data[n]["gas"] = gas #gas Limit -> wie viel gas einheiten man max. zahlen würde
        data[n]["will_gas_Price"] = gasprice_eth #How much the transaction originator is willing t. pay in Wei per gas unit
        data[n]["gasUsed"] = gasUsed #How much gas was used at the end
        data[n]["transaction_cost"] = transaction_cost
        data[n]["data_transaction"] = datatx
        data[n]["isError"] = error
        data[n]["cumulativeGasUsed"] = cumulativeGasUsed
        data[n]["tokenName"] = tokenName
        data[n]["tokenSymbol"] = tokenSymbol
        data[n]["tokenDecimal"] = tokenDecimal
    
    return data    
    #reminder: die Berechnungen müssen für´s Umrechnen in Float übertragen werden

In [137]:
erc20_df = df3.wallet_address.progress_apply(get_erc20_token_by_address, numbers_transactions = 1500)

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=300.0), HTML(value='')))

In [138]:
erc20_df = normalize_data(erc20_df) #edge list of erc20 transaction of the given addreses

In [139]:
erc20_df.to_csv("Add_erc20_normal_0709.csv")

In [1]:
import pandas as pd
erc20_df = pd.read_csv("Add_erc20_normal_0709.csv", header = 0)
erc20_df

,Unnamed: 0,hash,tx_from,tx_to,eth_value,out,confirmed,timeStamp,nonce,gas,will_gas_Price,gasUsed,transaction_cost,data_transaction,isError,cumulativeGasUsed,tokenName,tokenSymbol,tokenDecimal
0,0,0x87096d169d2d8e04561350d9e049ce4589126fc3cc68...,0x151bc71a40c56c7cb3317d86996fd0b4ff9bd907,0x61797662af0280d3090a53d69da71ec9dc9626d9,5.000000e-15,False,True,2018-02-10 21:03:00,164,5000000.0,1.000000e-09,2977919,0.002978,deprecated,NaN,4984627,GSG coin,GSGC,0
1,1,0x083b53516bc0953773db9c559be7948717fa7ce11477...,0x25b6bae3b77d7e1eee722912b155f9a79f7eef4a,0x61797662af0280d3090a53d69da71ec9dc9626d9,1.000000e+01,False,True,2018-02-11 15:44:00,85,6000000.0,2.000000e-09,4596163,0.009192,deprecated,NaN,6485862,LiteXToken,LXT,18
2,2,0x81a66620ae87ceb17aac1d4befbbb1dcb658d090bd2b...,0xe3846628ffe0efa0767f07c59cf1b47e92d54617,0x61797662af0280d3090a53d69da71ec9dc9626d9,3.000000e+04,False,True,2018-02-11 15:51:00,4897,66000.0,4.000000e-09,52241,0.000209,deprecated,NaN,4572183,Mankind First,MKF,18
3,3,0xc495e41d4d3fd11eb120e5e2c881c248187d965ba3ad...,0x151bc71a40c56c7cb3317d86996fd0b4ff9bd907,0x61797662af0280d3090a53d69da71ec9dc9626d9,5.000000e-15,False,True,2018-02-14 23:23:00,398,5000000.0,1.000000e-09,1478239,0.001478,deprecated,NaN,3383111,GSG coin,GSGC,0
4,4,0xef368fe9d831552592967f562e13c5f4e22e436f580f...,0x4edc0beccec6712a6c312131051a7902bcb769d4,0x61797662af0280d3090a53d69da71ec9dc9626d9,5.920813e-06,False,True,2018-02-19 06:49:00,0,85000.0,1.000000e-09,52184,0.000052,deprecated,NaN,4906503,CandyHCoin,CANDY,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64825,64825,0x7b2c13f2d65efbd2e07b63267b7cba739def7fa8756b...,0xf45ba58c415ed6c77cfc157f42f300f9fd980985,0x4109b9fb213bccffabe46905f20a74d39ba41843,1.935370e+05,False,True,2021-06-16 17:08:00,257,114154.0,2.200000e-08,76103,0.001674,deprecated,NaN,7250590,Paint,PAINT,18
64826,64826,0xce53be7d19e7a92f2a13fa84ce396945287d780e8ab4...,0x4109b9fb213bccffabe46905f20a74d39ba41843,0x478893fcbfffc3283fece2a216229e1c34093980,1.000000e+05,True,True,2021-06-16 17:28:00,259,170680.0,1.400000e-08,117652,0.001647,deprecated,NaN,11499384,Paint,PAINT,18
64827,64827,0xaf1faf108cd2a4abde32d9255e879b76e3ecd2b6ec05...,0x4109b9fb213bccffabe46905f20a74d39ba41843,0x9d7e5647ce3c7c2d835f2f5e82c8fdb36b0bb0fe,7.934000e+03,True,True,2021-06-23 20:48:00,264,269080.0,9.000000e-09,184818,0.001663,deprecated,NaN,13066240,XY Oracle,XYO,18
64828,64828,0xca88ba6cea2a5c0f77aa0d0d157a95cf9dee862d68bc...,0x4109b9fb213bccffabe46905f20a74d39ba41843,0xa4bd201c839755948e4eaec754214f2b8a6e5955,9.353700e+04,True,True,2021-06-23 20:56:00,268,184555.0,1.100000e-08,117439,0.001292,deprecated,NaN,11707342,Paint,PAINT,18
64829,64829,0xc0f11a403f021c1a741724a7f157b5dfb55e2ea9b25b...,0xa5025faba6e70b84f74e9b1113e5f7f4e7f4859f,0x4109b9fb213bccffabe46905f20a74d39ba41843,1.500000e+01,False,True,2021-07-26 08:35:00,60,6484302.0,2.505000e-08,5648355,0.141491,deprecated,NaN,7960195,Ludena Protocol,LDN,18

## Get first neighboar of ERC20 Transaktions

In [141]:
def get_first_ercneighboars(lookup_address, transactions=erc20_df):
    """
        #param: transactions -> pd.Dataframe same shape as transaction_df
    """

    lookup_person = lookup_address
    # print(lookup_person)

    outgoing_transactions =  transactions[(transactions.tx_from == lookup_person) & (transactions.out == True)]
    outgoing_neighboars = outgoing_transactions.drop_duplicates(subset='tx_to')
    # print(len(outgoing_neighboars))

    incomming_transactions =  transactions[(transactions.tx_to == lookup_person) & (transactions.out == False)]
    incomming_neighboars = incomming_transactions.drop_duplicates(subset='tx_from')
    # print(len(incomming_neighboars))

    list_ = outgoing_neighboars.tx_to.to_list()
    list_ += incomming_neighboars.tx_from.to_list()


    first_neighboars = pd.DataFrame({'neighboar': list_, 'id': [lookup_address for i in list_]})
    first_neighboars = first_neighboars.drop_duplicates(subset='neighboar')

    return first_neighboars

In [142]:
erc20_neighboars = []

for index, row in df3.iterrows():
    
    result = get_first_ercneighboars(row.wallet_address, transactions=erc20_df)
    erc20_neighboars.append(result)
    
erc20_neighboars = pd.concat(erc20_neighboars)
erc20_neighboars

,neighboar,id
0,0xa1c472be044dd8d2a9120c11e30a9f3c694c0e80,0x61797662af0280d3090a53d69da71ec9dc9626d9
1,0xe1d7529d45e862e19934ee2e07a4ca87de7f8a31,0x61797662af0280d3090a53d69da71ec9dc9626d9
2,0xa2d5a286f13050f61d83b7651f79e68f3bd6de80,0x61797662af0280d3090a53d69da71ec9dc9626d9
3,0x1794f479a99699ff58c212a3a244048a6e4416a6,0x61797662af0280d3090a53d69da71ec9dc9626d9
4,0x166edc962ad37dc99ffe30532cbd44a232b9a999,0x61797662af0280d3090a53d69da71ec9dc9626d9
...,...,...
410,0x38f0cf58ce49907f746958fdee7bfa4dd9aaebc9,0x4109b9fb213bccffabe46905f20a74d39ba41843
411,0xd37cf3528530dc2ccf37345b59c6196b93800b36,0x4109b9fb213bccffabe46905f20a74d39ba41843
412,0x29092e1a113c34af3956c543c4a6207e49b0037c,0x4109b9fb213bccffabe46905f20a74d39ba41843
413,0xe99f651b7b58f8e27f323f36aebf0ff06fa0f9f4,0x4109b9fb213bccffabe46905f20a74d39ba41843
414,0xf45ba58c415ed6c77cfc157f42f300f9fd980985,0x4109b9fb213bccffabe46905f20a74d39ba41843

In [143]:
erc20_neighboars

,neighboar,id
0,0xa1c472be044dd8d2a9120c11e30a9f3c694c0e80,0x61797662af0280d3090a53d69da71ec9dc9626d9
1,0xe1d7529d45e862e19934ee2e07a4ca87de7f8a31,0x61797662af0280d3090a53d69da71ec9dc9626d9
2,0xa2d5a286f13050f61d83b7651f79e68f3bd6de80,0x61797662af0280d3090a53d69da71ec9dc9626d9
3,0x1794f479a99699ff58c212a3a244048a6e4416a6,0x61797662af0280d3090a53d69da71ec9dc9626d9
4,0x166edc962ad37dc99ffe30532cbd44a232b9a999,0x61797662af0280d3090a53d69da71ec9dc9626d9
...,...,...
410,0x38f0cf58ce49907f746958fdee7bfa4dd9aaebc9,0x4109b9fb213bccffabe46905f20a74d39ba41843
411,0xd37cf3528530dc2ccf37345b59c6196b93800b36,0x4109b9fb213bccffabe46905f20a74d39ba41843
412,0x29092e1a113c34af3956c543c4a6207e49b0037c,0x4109b9fb213bccffabe46905f20a74d39ba41843
413,0xe99f651b7b58f8e27f323f36aebf0ff06fa0f9f4,0x4109b9fb213bccffabe46905f20a74d39ba41843
414,0xf45ba58c415ed6c77cfc157f42f300f9fd980985,0x4109b9fb213bccffabe46905f20a74d39ba41843

## get tx of first neighb of ERC20 tx

erc_neighboar_transactions = []

erc_placeholder = []
for i in range(0, len(erc20_neighboars)):
    id_ = erc20_neighboars.iloc[i].id
    erc_neighboar_ = erc20_neighboars.iloc[i].neighboar

    transactions = get_erc20_token_by_address(erc_neighboar_, numbers_transactions=1600)
    transactions = pd.DataFrame(transactions).transpose()
    transactions["id"] = id_
    transactions["neighboar"] = erc_neighboar_
    erc_placeholder.append(transactions)

erc_first_neighboars_transactions = pd.concat(erc_placeholder)
erc_first_neighboars_transactions.iloc[] #edgelist of neighb ERC20 tx

In [2]:
#erc_first_neighboars_transactions.to_csv("erc_first_neighboars_transactions.csv")
erc_first_neighboars_transactions = pd.read_csv("erc_first_neighboars_transactions.csv")
erc_first_neighboars_transactions

,Unnamed: 0,hash,tx_from,tx_to,eth_value,out,confirmed,timeStamp,nonce,gas,...,gasUsed,transaction_cost,data_transaction,isError,cumulativeGasUsed,tokenName,tokenSymbol,tokenDecimal,id,neighboar
0,0,0xeef7c5204ac125cb0975e2a111881d34607f006c9b0d...,0x7769f394f87204df364b219821a068989dc19302,0x4d39217fd94abf03928da97488b16ac91816108f,2.000000e-07,False,True,2018-01-19 11:05:00,1555,3123860.0,...,3023508,0.075588,deprecated,NaN,5767884,ArtisTurba,ARTIS,8.0,0x3296b13b1ee66d953d4449bd81581a4612ecc27f,0x4d39217fd94abf03928da97488b16ac91816108f
1,1,0x66e267f021407d5d348825f00fab3a508d40ba5bbbcb...,0x3296b13b1ee66d953d4449bd81581a4612ecc27f,0x4d39217fd94abf03928da97488b16ac91816108f,1.000000e+03,False,True,2018-06-20 06:39:00,12,52909.0,...,52909,0.002169,deprecated,NaN,1924647,Pundi X Token,NPXS,18.0,0x3296b13b1ee66d953d4449bd81581a4612ecc27f,0x4d39217fd94abf03928da97488b16ac91816108f
2,2,0xa365ef5b0ec87c8b577218d558626ef566adecfc8d55...,0x3296b13b1ee66d953d4449bd81581a4612ecc27f,0x4d39217fd94abf03928da97488b16ac91816108f,1.680967e+05,False,True,2018-06-20 06:46:00,13,38101.0,...,23101,0.000947,deprecated,NaN,1802212,Pundi X Token,NPXS,18.0,0x3296b13b1ee66d953d4449bd81581a4612ecc27f,0x4d39217fd94abf03928da97488b16ac91816108f
3,3,0x94f95a7eb4ace9415e4e6758c84b8076e8be8547711f...,0x4d39217fd94abf03928da97488b16ac91816108f,0x3f5ce5fbfe3e9af3971dd833d26ba9b5c936f0be,1.690967e+05,True,True,2018-06-20 09:21:00,2,76202.0,...,23101,0.000462,deprecated,NaN,1495070,Pundi X Token,NPXS,18.0,0x3296b13b1ee66d953d4449bd81581a4612ecc27f,0x4d39217fd94abf03928da97488b16ac91816108f
4,4,0xef21fa7de4a374194917ff0746b711663444fac88d5d...,0x3296b13b1ee66d953d4449bd81581a4612ecc27f,0x4d39217fd94abf03928da97488b16ac91816108f,6.270493e-09,False,True,2019-07-15 11:23:00,64,77231.0,...,39733,0.000503,deprecated,NaN,2683575,USD Coin,USDC,6.0,0x3296b13b1ee66d953d4449bd81581a4612ecc27f,0x4d39217fd94abf03928da97488b16ac91816108f
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19973355,1599,0xce5b19aa87f1eb2696871ad55a941afb1938ba102a02...,0xf12ce5503e4bedb7178951321925e4306c4c3b12,0x4f7714430e8853d238113ee990dbdc299e67295f,8.000000e+05,True,True,2021-08-14 17:32:00,106,312621.0,...,284201,0.023730,deprecated,NaN,562034,SupDao.com,SupDao.com,18.0,0x2fe4b878e1fd34e7ec449e7521b8333495608805,0xf12ce5503e4bedb7178951321925e4306c4c3b12
19973356,0,0xa24f9c350906f1886d8bd964d1b35e05b9273aaf2a74...,0x3a06dd8bf1dc8679113a9ba95e87f4615973afba,0x2fe4b878e1fd34e7ec449e7521b8333495608805,6.000000e-02,True,True,2021-08-19 02:34:00,1313,310087.0,...,229216,0.009398,deprecated,NaN,19131429,Wrapped Ether,WETH,18.0,0x2fe4b878e1fd34e7ec449e7521b8333495608805,0x3a06dd8bf1dc8679113a9ba95e87f4615973afba
19973357,1,0xc5354b60bbaa787d918b7650d40fc5461b0bac63fc12...,0xd9cfa54cc68ee6b67fb35b64e3a452c9c423e38f,0x3a06dd8bf1dc8679113a9ba95e87f4615973afba,3.038661e+06,False,True,2021-08-22 18:28:00,18,171471.0,...,139556,0.006699,deprecated,NaN,245919,BAYC History -The Great Floor Sweep,SWEEP,18.0,0x2fe4b878e1fd34e7ec449e7521b8333495608805,0x3a06dd8bf1dc8679113a9ba95e87f4615973afba
19973358,2,0x26384f4968c166fc110f0ad4ce241c115913244aa003...,0xd9cfa54cc68ee6b67fb35b64e3a452c9c423e38f,0x3a06dd8bf1dc8679113a9ba95e87f4615973afba,1.955085e+06,False,True,2021-08-22 18:32:00,19,152785.0,...,122578,0.004535,deprecated,NaN,1332380,BAYC History -The Great Floor Sweep,SWEEP,18.0,0x2fe4b878e1fd34e7ec449e7521b8333495608805,0x3a06dd8bf1dc8679113a9ba95e87f4615973afba
19973359,3,0x76f3e5bc73af227a91328475843d79a0ff2606b7e1bf...,0x3a06dd8bf1dc8679113a9ba95e87f4615973afba,0x1ea3e54adc553f9fd69c7002f1038f556bb4758e,4.970528e+06,True,True,2021-08-27 15:21:00,35,345998.0,...,303942,0.081760,deprecated,NaN,2843246,BAYC History -The Great Floor Sweep,SWEEP,18.0,0x2fe4b878e1fd34e7ec449e7521b8333495608805,0x3a06dd8bf1dc8679113a9ba95e87f4615973afba

EL_ERCneighb_normal = pd.read_csv("erc_first_neighboars_transactions.csv", header = 0)
EL_ERCneighb_normal.head()
random.seed(30)
EL_ERCneib_small = EL_ERCneighb_normal.sample(frac = 0.1) #edge list of neighbor tx (ERC20)

## calc USD value of ERC TX and ERC TX of first neighb

### USD value ERC TX original

In [10]:
erc20_df.timeStamp = erc20_df.timeStamp.astype(str)
df_origin_erc20_USD = pd.merge(erc20_df, ethUSD_s, on='timeStamp')
df_origin_erc20_USD["eth_valueUSD"] = df_origin_erc20_USD.eth_value.astype("float") * df_origin_erc20_USD.Close
df_origin_erc20_USD["transaction_costUSD"] = df_origin_erc20_USD.transaction_cost.astype("float") * df_origin_erc20_USD.Close
df_origin_erc20_USD["will_gas_PriceUSD"] = df_origin_erc20_USD.will_gas_Price.astype("float") * df_origin_erc20_USD.Close

In [146]:
df_origin_erc20_USD

,Unnamed: 0,hash,tx_from,tx_to,eth_value,out,confirmed,timeStamp,nonce,gas,...,data_transaction,isError,cumulativeGasUsed,tokenName,tokenSymbol,tokenDecimal,Close,eth_valueUSD,transaction_costUSD,will_gas_PriceUSD
0,0,0x87096d169d2d8e04561350d9e049ce4589126fc3cc68...,0x151bc71a40c56c7cb3317d86996fd0b4ff9bd907,0x61797662af0280d3090a53d69da71ec9dc9626d9,5.000000e-15,False,True,2018-02-10 21:03:00,164,5000000.0,...,deprecated,NaN,4984627,GSG coin,GSGC,0,818.52,4.092600e-12,2.437486,8.185200e-07
1,1,0x083b53516bc0953773db9c559be7948717fa7ce11477...,0x25b6bae3b77d7e1eee722912b155f9a79f7eef4a,0x61797662af0280d3090a53d69da71ec9dc9626d9,1.000000e+01,False,True,2018-02-11 15:44:00,85,6000000.0,...,deprecated,NaN,6485862,LiteXToken,LXT,18,829.02,8.290200e+03,7.620622,1.658040e-06
2,2,0x81a66620ae87ceb17aac1d4befbbb1dcb658d090bd2b...,0xe3846628ffe0efa0767f07c59cf1b47e92d54617,0x61797662af0280d3090a53d69da71ec9dc9626d9,3.000000e+04,False,True,2018-02-11 15:51:00,4897,66000.0,...,deprecated,NaN,4572183,Mankind First,MKF,18,832.00,2.496000e+07,0.173858,3.328000e-06
3,3,0xc495e41d4d3fd11eb120e5e2c881c248187d965ba3ad...,0x151bc71a40c56c7cb3317d86996fd0b4ff9bd907,0x61797662af0280d3090a53d69da71ec9dc9626d9,5.000000e-15,False,True,2018-02-14 23:23:00,398,5000000.0,...,deprecated,NaN,3383111,GSG coin,GSGC,0,926.05,4.630250e-12,1.368923,9.260500e-07
4,4,0xef368fe9d831552592967f562e13c5f4e22e436f580f...,0x4edc0beccec6712a6c312131051a7902bcb769d4,0x61797662af0280d3090a53d69da71ec9dc9626d9,5.920813e-06,False,True,2018-02-19 06:49:00,0,85000.0,...,deprecated,NaN,4906503,CandyHCoin,CANDY,8,944.65,5.593096e-03,0.049296,9.446500e-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58551,64824,0x3724b7f9ac042589fd6ccd7f198b046313dea476bc81...,0xe99f651b7b58f8e27f323f36aebf0ff06fa0f9f4,0x4109b9fb213bccffabe46905f20a74d39ba41843,5.000000e+01,False,True,2021-04-04 11:15:00,170,11350411.0,...,deprecated,NaN,11460077,PolkaBridge,PBR,18,2088.57,1.044285e+05,2133.510721,1.879713e-04
58552,64825,0x7b2c13f2d65efbd2e07b63267b7cba739def7fa8756b...,0xf45ba58c415ed6c77cfc157f42f300f9fd980985,0x4109b9fb213bccffabe46905f20a74d39ba41843,1.935370e+05,False,True,2021-06-16 17:08:00,257,114154.0,...,deprecated,NaN,7250590,Paint,PAINT,18,2392.45,4.630276e+08,4.005598,5.263390e-05
58553,64826,0xce53be7d19e7a92f2a13fa84ce396945287d780e8ab4...,0x4109b9fb213bccffabe46905f20a74d39ba41843,0x478893fcbfffc3283fece2a216229e1c34093980,1.000000e+05,True,True,2021-06-16 17:28:00,259,170680.0,...,deprecated,NaN,11499384,Paint,PAINT,18,2399.42,2.399420e+08,3.952152,3.359188e-05
58554,64827,0xaf1faf108cd2a4abde32d9255e879b76e3ecd2b6ec05...,0x4109b9fb213bccffabe46905f20a74d39ba41843,0x9d7e5647ce3c7c2d835f2f5e82c8fdb36b0bb0fe,7.934000e+03,True,True,2021-06-23 20:48:00,264,269080.0,...,deprecated,NaN,13066240,XY Oracle,XYO,18,1935.56,1.535673e+07,3.219537,1.742004e-05
58555,64828,0xca88ba6cea2a5c0f77aa0d0d157a95cf9dee862d68bc...,0x4109b9fb213bccffabe46905f20a74d39ba41843,0xa4bd201c839755948e4eaec754214f2b8a6e5955,9.353700e+04,True,True,2021-06-23 20:56:00,268,184555.0,...,deprecated,NaN,11707342,Paint,PAINT,18,1928.58,1.803936e+08,2.491396,2.121438e-05

### USD value ERC TX neighb

In [97]:
EL_ERCneighb_normal.timeStamp = EL_ERCneighb_normal.timeStamp.astype(str)
EL_ERCneighb_USD = pd.merge(EL_ERCneighb_normal, ethUSD_s, on='timeStamp')
EL_ERCneighb_USD["eth_valueUSD"] = EL_ERCneighb_USD.eth_value.astype("float") * EL_ERCneighb_USD.Close
EL_ERCneighb_USD["transaction_costUSD"] = EL_ERCneighb_USD.transaction_cost.astype("float") * EL_ERCneighb_USD.Close
EL_ERCneighb_USD["will_gas_PriceUSD"] = EL_ERCneighb_USD.will_gas_Price.astype("float") * EL_ERCneighb_USD.Close

import random
random.seed(30)
EL_ERCneibUSD_small = EL_ERCneighb_USD.sample(frac = 0.1)

# Start Variable creation

## Variables regarding the "normal transactions" of the original addresses

In [147]:
#Number ingoing transactions
length2=[]
for address in df3.wallet_address:
    length2.append(len(df_test[df_test["tx_to"] == str(address)])) #eigentlich df_test
df3.loc[:,"num_in_trans"]= length2

In [148]:
#Number outgoing transactions
length=[]
for address in df3.wallet_address:
    length.append(len(df_test[df_test["tx_from"] == str(address)])) #switched to transaction_df for the moment
df3.loc[:,"num_out_trans"]= length

In [149]:
#average amount outgoing transactions
avg_trans_out=[]
for address in df3.wallet_address:
    avg_trans_out.append(df_test.loc[lambda df_test: df_test['tx_from'] == str(address), ["eth_valueUSD"]].mean())
df3.loc[:,"avg_trans_out"]= avg_trans_out

In [150]:
#average amount ingoing transactions
avg_trans_in=[]
for address in df3.wallet_address:
    avg_trans_in.append(df_test.loc[lambda df_test: df_test['tx_to'] == str(address), ["eth_valueUSD"]].mean())
df3.loc[:,"avg_trans_in"]= avg_trans_in

In [151]:
#sum amount ingoing transactions
sum_trans_in=[]
for address in df3.wallet_address:
    sum_trans_in.append(df_test.loc[lambda df_test: df_test['tx_to'] == str(address), ["eth_valueUSD"]].sum())
df3.loc[:,"sum_trans_in"]= sum_trans_in

In [152]:
#sum amount outgoing transactions
sum_trans_out=[]
for address in df3.wallet_address:
    sum_trans_out.append(df_test.loc[lambda df_test: df_test['tx_to'] == str(address), ["eth_valueUSD"]].sum())
df3.loc[:,"sum_trans_out"]= sum_trans_out

In [153]:
#max amount outgoing transaction
max_trans_out=[]
for address in df3.wallet_address:
    max_trans_out.append(df_test.loc[lambda df_test: df_test['tx_from'] == str(address), ["eth_valueUSD"]].max())
df3.loc[:,"max_trans_out"]= max_trans_out

In [154]:
#max amount ingoing transaction
max_trans_in=[]
for address in df3.wallet_address:
    max_trans_in.append(df_test.loc[lambda df_test: df_test['tx_to'] == str(address), ["eth_valueUSD"]].max())
df3.loc[:,"max_trans_in"]= max_trans_in

In [155]:
#standard deviation amount ingoing transaction
std_trans_in=[]
for address in df3.wallet_address:
    std_trans_in.append(df_test.loc[lambda df_test: df_test['tx_to'] == str(address), ["eth_valueUSD"]].std())
df3.loc[:,"std_trans_in"]= std_trans_in

In [156]:
#standard deviation amount out going transaction
std_trans_out=[]
for address in df3.wallet_address:
    std_trans_out.append(df_test.loc[lambda df_test: df_test['tx_from'] == str(address), ["eth_valueUSD"]].std())
df3.loc[:,"std_trans_out"]= std_trans_out

In [157]:
#min amount outgoing transaction
min_trans_out=[]
for address in df3.wallet_address:
    min_trans_out.append(df_test.loc[(df_test['tx_from'] == address) & (df_test["eth_valueUSD"]!=0),["eth_valueUSD"]].min())
df3.loc[:,"min_trans_out"]= min_trans_out

In [158]:
#min amount ingoing transaction
min_trans_in=[]
for address in df3.wallet_address:
    min_trans_in.append(df_test.loc[(df_test['tx_to'] == address) & (df_test["eth_valueUSD"]!=0),["eth_valueUSD"]].min())
df3.loc[:,"min_trans_in"]= min_trans_in

In [159]:
#number of unique outgoing transaction partners 
unique_tpartn_out=[]
for address in df3.wallet_address:
    unique_tpartn_out.append(df_test.loc[(df_test['tx_from'] == address), ["tx_to"]].nunique())
df3.loc[:,"unique_tpartn_out"]= unique_tpartn_out

In [160]:
#number of unique ingoing transaction partners 
unique_tpartn_in=[]
for address in df3.wallet_address:
    unique_tpartn_in.append(df_test.loc[(df_test['tx_to'] == address), ["tx_from"]].nunique())
df3.loc[:,"unique_tpartn_in"]= unique_tpartn_in

In [161]:
#average outg. transaction costs
avg_transcost_out=[]
for address in df3.wallet_address:
    avg_transcost_out.append(df_test.loc[lambda df_test: df_test['tx_from'] == str(address), ["transaction_costUSD"]].mean())
df3.loc[:,"avg_transcost_out"]= avg_transcost_out

In [162]:
#average inc. transaction costs
avg_transcost_in=[]
for address in df3.wallet_address:
    avg_transcost_in.append(df_test.loc[lambda df_test: df_test['tx_to'] == str(address), ["transaction_costUSD"]].mean())
df3.loc[:,"avg_transcost_in"]= avg_transcost_in

In [163]:
#max transaction costs outgoing
max_transcost_out=[]
for address in df3.wallet_address:
    max_transcost_out.append(df_test.loc[lambda df_test: df_test['tx_from'] == str(address), ["transaction_costUSD"]].max())
df3.loc[:,"max_transcost_out"]= max_transcost_out

In [164]:
#max transaction costs ingoing
max_transcost_in=[]
for address in df3.wallet_address:
    max_transcost_in.append(df_test.loc[lambda df_test: df_test['tx_to'] == str(address), ["transaction_costUSD"]].max())
df3.loc[:,"max_transcost_in"]= max_transcost_in

In [165]:
#standard deviation transaction costs  out going 
std_transcost_out=[]
for address in df3.wallet_address:
    std_transcost_out.append(df_test.loc[lambda df_test: df_test['tx_from'] == str(address), ["transaction_costUSD"]].std())
df3.loc[:,"std_transcost_out"]= std_transcost_out

In [166]:
#standard deviation transaction costs  ingoing 
std_transcost_in=[]
for address in df3.wallet_address:
    std_transcost_in.append(df_test.loc[lambda df_test: df_test['tx_to'] == str(address), ["transaction_costUSD"]].std())
df3.loc[:,"std_transcost_in"]= std_transcost_in

In [167]:
#avg. amount of hours between outg transactions
timedelta_trans_out=[]
for address in df3.wallet_address:
    t = pd.to_datetime(df_test.loc[lambda df_test: df_test['tx_from'] == address, ["timeStamp"]].timeStamp)
    time_diff = [j-i for i, j in zip(t[:-1], t[1:])]
    time_list = []
    for delta in time_diff:
        time_list.append(delta / pd.Timedelta('1 hour'))
    timedelta_trans_out.append(pd.Series(time_list).mean())
    
df3.loc[:,"timedelta_trans_out"]= timedelta_trans_out

<ipython-input-167-62aaec5a58bd>:9: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  timedelta_trans_out.append(pd.Series(time_list).mean())

In [168]:
#avg. amount of hours between in transactions
timedelta_trans_in=[]
for address in df3.wallet_address:
    t = pd.to_datetime(df_test.loc[lambda df_test: df_test['tx_to'] == address, ["timeStamp"]].timeStamp)
    time_diff = [j-i for i, j in zip(t[:-1], t[1:])]
    time_list = []
    for delta in time_diff:
        time_list.append(delta / pd.Timedelta('1 hour'))
    timedelta_trans_in.append(pd.Series(time_list).mean())
    
df3.loc[:,"timedelta_trans_in"]= timedelta_trans_in

<ipython-input-168-d986470869da>:9: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  timedelta_trans_in.append(pd.Series(time_list).mean())

In [169]:
#amount of hours between the first and last outgoing transaction
duration_out=[]
for address in df3.wallet_address:
    t = pd.to_datetime(df_test.loc[lambda df_test: df_test['tx_from'] == address, ["timeStamp"]].timeStamp)
    time_diff = [j-i for i, j in zip(t[:1], t[-1:])]
    time_list = []
    for delta in time_diff:
        time_list.append(delta / pd.Timedelta('1 hour'))
    duration_out.append(pd.Series(time_list).mean())
    
df3.loc[:,"duration_out"]= duration_out

In [170]:
#avg Number ingoing transactions per neighb
length_neighb=[]
for address in df3.wallet_address:
    result = 0
    filtered_df = df_Neighb_normal_USD.loc[(df_Neighb_normal_USD["id"] == str(address))&(df_Neighb_normal_USD["out"] == False)]
    filtered_neighb = neighboars.loc[(neighboars["id"] == str(address))]
    length_p_neighb = []
    for index, row in filtered_neighb.iterrows():
        length_p_neighb.append(len(filtered_df.loc[filtered_df["neighboar"] == str(row.neighboar)]))
        result = pd.DataFrame(length_p_neighb)
        result = result.iloc[:,0].mean()
    length_neighb.append(result)
        
df3.loc[:,"num_in_trans_1neighb"]= length_neighb

In [171]:
#percentage of transaction partners who received only one transaction from the address (sog. one Night Stands
avg_oneNightStands_out = []
for address in df3.wallet_address:
    result = 0
    result_p_address = []
    filtered_df = df_Neighb_normal_USD.loc[(df_Neighb_normal_USD["id"] == str(address))&(df_Neighb_normal_USD["out"] == True)]
    filtered_neighb = neighboars_out.loc[(neighboars_out["id"] == str(address))]
    for index, row in filtered_neighb.iterrows():
        p_address = filtered_df.loc[filtered_df["neighboar"] == str(row.neighboar), ["neighboar"]].count()
        result_p_address.append(p_address)
        result = pd.DataFrame(result_p_address)
        result = result.iloc[:,0].eq(1).sum(axis = 0)
        result2 = result
        counts = filtered_neighb.iloc[:,1].count()
        result3 = result2/counts
    avg_oneNightStands_out.append(result3)
        
df3.loc[:,"avg_oneNightStands_out"]= avg_oneNightStands_out

In [172]:
#percentage of transaction partners who received only one transaction from the address (sog. one Night Stands
avg_oneNightStands_in = []
for address in df3.wallet_address:
    result = 0
    result_p_address = []
    filtered_df = df_Neighb_normal_USD.loc[(df_Neighb_normal_USD["id"] == str(address))&(df_Neighb_normal_USD["out"] == False)]
    filtered_neighb = neighboars_in.loc[(neighboars_in["id"] == str(address))]
    for index, row in filtered_neighb.iterrows():
        p_address = filtered_df.loc[filtered_df["neighboar"] == str(row.neighboar), ["neighboar"]].count()
        result_p_address.append(p_address)
        result = pd.DataFrame(result_p_address)
        result = result.iloc[:,0].eq(1).sum(axis = 0)
        result2 = result
        counts = filtered_neighb.iloc[:,1].count()
        result3 = result2/counts
    avg_oneNightStands_in.append(result3)
        
df3.loc[:,"avg_oneNightStands_in"]= avg_oneNightStands_in

In [ ]:
filtered_neighb.iloc[:,1].count()

## variables regarding the normal transactions of the first neighbs

In [174]:
#avg Number ingoing transactions per neighb
length_neighb=[]
for address in df3.wallet_address:
    result = 0
    filtered_df = df_Neighb_normal_USD.loc[(df_Neighb_normal_USD["id"] == str(address))&(df_Neighb_normal_USD["out"] == False)]
    filtered_neighb = neighboars_in.loc[(neighboars_in["id"] == str(address))]
    length_p_neighb = []
    for index, row in filtered_neighb.iterrows():
        length_p_neighb.append(len(filtered_df.loc[filtered_df["neighboar"] == str(row.neighboar)]))
        result = pd.DataFrame(length_p_neighb)
        result = result.iloc[:,0].mean()
    length_neighb.append(result)
        
df3.loc[:,"num_in_trans_1neighb"]= length_neighb

In [175]:
#avg Number outgoing transactions per neighb
length_neighb_out=[]
for address in df3.wallet_address:
    result = 0
    filtered_df = df_Neighb_normal_USD.loc[(df_Neighb_normal_USD["id"] == str(address))&(df_Neighb_normal_USD["out"] == True)]
    filtered_neighb = neighboars_out.loc[(neighboars_out["id"] == str(address))]
    length_p_neighb = []
    for index, row in filtered_neighb.iterrows():
        length_p_neighb.append(len(filtered_df.loc[filtered_df["neighboar"] == str(row.neighboar)]))
        result = pd.DataFrame(length_p_neighb)
        result = result.iloc[:,0].mean()
    length_neighb_out.append(result)
        
df3.loc[:,"num_out_trans_1neighb"]= length_neighb_out

In [176]:
#average amount outgoing transactions p neighb
avg_tx_out_neighb = []
for address in df3.wallet_address:
    result = 0
    result_p_address = []
    filtered_df = df_Neighb_normal_USD.loc[(df_Neighb_normal_USD["id"] == str(address))&(df_Neighb_normal_USD["out"] == True)]
    filtered_neighb = neighboars_out.loc[(neighboars_out["id"] == str(address))]
    for index, row in filtered_neighb.iterrows():
        result_p_address.append(filtered_df.loc[filtered_df["neighboar"] == str(row.neighboar), ["eth_valueUSD"]].mean())
        result = pd.DataFrame(result_p_address)
        result = result.iloc[:,0].mean()
    avg_tx_out_neighb.append(result)
        
df3.loc[:,"avg_tx_out_neighb"]= avg_tx_out_neighb

In [177]:
#average amount ingoing transactions p neighb
avg_tx_in_neighb = []
for address in df3.wallet_address:
    result = 0
    result_p_address = []
    filtered_df = df_Neighb_normal_USD.loc[(df_Neighb_normal_USD["id"] == str(address))&(df_Neighb_normal_USD["out"] == False)]
    filtered_neighb = neighboars_in.loc[(neighboars_in["id"] == str(address))]
    for index, row in filtered_neighb.iterrows():
        result_p_address.append(filtered_df.loc[filtered_df["neighboar"] == str(row.neighboar), ["eth_valueUSD"]].mean())
        result = pd.DataFrame(result_p_address)
        result = result.iloc[:,0].mean()
    avg_tx_in_neighb.append(result)
        
df3.loc[:,"avg_tx_in_neighb"]= avg_tx_in_neighb

In [178]:
#max amount outgoing transactions 
max_tx_out_neighb = []
for address in df3.wallet_address:
    result = 0
    result_p_address = []
    filtered_df = df_Neighb_normal_USD.loc[(df_Neighb_normal_USD["id"] == str(address))&(df_Neighb_normal_USD["out"] == True)]
    filtered_neighb = neighboars_out.loc[(neighboars_out["id"] == str(address))]
    for index, row in filtered_neighb.iterrows():
        result_p_address.append(filtered_df.loc[filtered_df["neighboar"] == str(row.neighboar), ["eth_valueUSD"]].max())
        result = pd.DataFrame(result_p_address)
        result = result.iloc[:,0].mean()
    max_tx_out_neighb.append(result)
        
df3.loc[:,"max_tx_out_neighb"]= max_tx_out_neighb

In [179]:
#max amount ingoing transactions 
max_tx_in_neighb = []
for address in df3.wallet_address:
    result = 0
    result_p_address = []
    filtered_df = df_Neighb_normal_USD.loc[(df_Neighb_normal_USD["id"] == str(address))&(df_Neighb_normal_USD["out"] == False)]
    filtered_neighb = neighboars_in.loc[(neighboars_in["id"] == str(address))]
    for index, row in filtered_neighb.iterrows():
        result_p_address.append(filtered_df.loc[filtered_df["neighboar"] == str(row.neighboar), ["eth_valueUSD"]].max())
        result = pd.DataFrame(result_p_address)
        result = result.iloc[:,0].mean()
    max_tx_in_neighb.append(result)
        
df3.loc[:,"max_tx_in_neighb"]= max_tx_in_neighb

In [180]:
#sum amount ingoing transactions 
sum_tx_in_neighb = []
for address in df3.wallet_address:
    result = 0
    result_p_address = []
    filtered_df = df_Neighb_normal_USD.loc[(df_Neighb_normal_USD["id"] == str(address))&(df_Neighb_normal_USD["out"] == False)]
    filtered_neighb = neighboars_in.loc[(neighboars_in["id"] == str(address))]
    for index, row in filtered_neighb.iterrows():
        result_p_address.append(filtered_df.loc[filtered_df["neighboar"] == str(row.neighboar), ["eth_valueUSD"]].sum())
        result = pd.DataFrame(result_p_address)
        result = result.iloc[:,0].mean()
    sum_tx_in_neighb.append(result)
        
df3.loc[:,"sum_tx_in_neighb"]= sum_tx_in_neighb

In [181]:
#sum amount outgoing transactions 
sum_tx_out_neighb = []
for address in df3.wallet_address:
    result = 0
    result_p_address = []
    filtered_df = df_Neighb_normal_USD.loc[(df_Neighb_normal_USD["id"] == str(address))&(df_Neighb_normal_USD["out"] == True)]
    filtered_neighb = neighboars_out.loc[(neighboars_out["id"] == str(address))]
    for index, row in filtered_neighb.iterrows():
        result_p_address.append(filtered_df.loc[filtered_df["neighboar"] == str(row.neighboar), ["eth_valueUSD"]].sum())
        result = pd.DataFrame(result_p_address)
        result = result.iloc[:,0].mean()
    sum_tx_out_neighb.append(result)
        
df3.loc[:,"sum_tx_out_neighb"]= sum_tx_out_neighb

In [182]:
#standard deviation amount outgoing transaction
std_tx_out_neighb = []
for address in df3.wallet_address:
    result = 0
    result_p_address = []
    filtered_df = df_Neighb_normal_USD.loc[(df_Neighb_normal_USD["id"] == str(address))&(df_Neighb_normal_USD["out"] == True)]
    filtered_neighb = neighboars_out.loc[(neighboars_out["id"] == str(address))]
    for index, row in filtered_neighb.iterrows():
        result_p_address.append(filtered_df.loc[filtered_df["neighboar"] == str(row.neighboar), ["eth_valueUSD"]].std())
        result = pd.DataFrame(result_p_address)
        result = result.iloc[:,0].mean()
    std_tx_out_neighb.append(result)
        
df3.loc[:,"std_tx_out_neighb"]= std_tx_out_neighb

In [183]:
#standard deviation amount ingoing transaction
std_tx_in_neighb = []
for address in df3.wallet_address:
    result = 0
    result_p_address = []
    filtered_df = df_Neighb_normal_USD.loc[(df_Neighb_normal_USD["id"] == str(address))&(df_Neighb_normal_USD["out"] == False)]
    filtered_neighb = neighboars_in.loc[(neighboars_in["id"] == str(address))]
    for index, row in filtered_neighb.iterrows():
        result_p_address.append(filtered_df.loc[filtered_df["neighboar"] == str(row.neighboar), ["eth_valueUSD"]].std())
        result = pd.DataFrame(result_p_address)
        result = result.iloc[:,0].mean()
    std_tx_in_neighb.append(result)
        
df3.loc[:,"std_tx_in_neighb"]= std_tx_in_neighb

In [184]:
#number of unique outgoing transaction partners 
unique_tx_out_neighb = []
for address in df3.wallet_address:
    result = 0
    result_p_address = []
    filtered_df = df_Neighb_normal_USD.loc[(df_Neighb_normal_USD["id"] == str(address))&(df_Neighb_normal_USD["out"] == True)]
    filtered_neighb = neighboars_out.loc[(neighboars_out["id"] == str(address))]
    for index, row in filtered_neighb.iterrows():
        result_p_address.append(filtered_df.loc[filtered_df["neighboar"] == str(row.neighboar), ["tx_to"]].nunique().iloc[0])
        result = pd.DataFrame(result_p_address)
        result = result.iloc[:,0].mean()
    unique_tx_out_neighb.append(result)
        
df3.loc[:,"unique_tx_out_neighb"]= unique_tx_out_neighb

In [185]:
#number of unique ingoing transaction partners 
unique_tx_in_neighb = []
for address in df3.wallet_address:
    result = 0
    result_p_address = []
    filtered_df = df_Neighb_normal_USD.loc[(df_Neighb_normal_USD["id"] == str(address))&(df_Neighb_normal_USD["out"] == False)]
    filtered_neighb = neighboars_in.loc[(neighboars_in["id"] == str(address))]
    for index, row in filtered_neighb.iterrows():
        result_p_address.append(filtered_df.loc[filtered_df["neighboar"] == str(row.neighboar), ["tx_to"]].nunique().iloc[0])
        result = pd.DataFrame(result_p_address)
        result = result.iloc[:,0].mean()
    unique_tx_in_neighb.append(result)
        
df3.loc[:,"unique_tx_in_neighb"]= unique_tx_in_neighb

In [186]:
#average amount outgoing transaction cost 
avg_txcost_out_neighb = []
for address in df3.wallet_address:
    result = 0
    result_p_address = []
    filtered_df = df_Neighb_normal_USD.loc[(df_Neighb_normal_USD["id"] == str(address))&(df_Neighb_normal_USD["out"] == True)]
    filtered_neighb = neighboars_out.loc[(neighboars_out["id"] == str(address))]
    for index, row in filtered_neighb.iterrows():
        result_p_address.append(filtered_df.loc[filtered_df["neighboar"] == str(row.neighboar), ["transaction_costUSD"]].mean())
        result = pd.DataFrame(result_p_address)
        result = result.iloc[:,0].mean()
    avg_txcost_out_neighb.append(result)
        
df3.loc[:,"avg_txcost_out_neighb"]= avg_txcost_out_neighb

In [187]:
#average amount ingoing transaction cost 
avg_txcost_in_neighb = []
for address in df3.wallet_address:
    result = 0
    result_p_address = []
    filtered_df = df_Neighb_normal_USD.loc[(df_Neighb_normal_USD["id"] == str(address))&(df_Neighb_normal_USD["out"] == False)]
    filtered_neighb = neighboars_in.loc[(neighboars_in["id"] == str(address))]
    for index, row in filtered_neighb.iterrows():
        result_p_address.append(filtered_df.loc[filtered_df["neighboar"] == str(row.neighboar), ["transaction_costUSD"]].mean())
        result = pd.DataFrame(result_p_address)
        result = result.iloc[:,0].mean()
    avg_txcost_in_neighb.append(result)
        
df3.loc[:,"avg_txcost_in_neighb"]= avg_txcost_in_neighb

In [188]:
#max amount ingoing transaction cost
max_txcost_in_neighb = []
for address in df3.wallet_address:
    result = 0
    result_p_address = []
    filtered_df = df_Neighb_normal_USD.loc[(df_Neighb_normal_USD["id"] == str(address))&(df_Neighb_normal_USD["out"] == False)]
    filtered_neighb = neighboars_in.loc[(neighboars_in["id"] == str(address))]
    for index, row in filtered_neighb.iterrows():
        result_p_address.append(filtered_df.loc[filtered_df["neighboar"] == str(row.neighboar), ["transaction_costUSD"]].max())
        result = pd.DataFrame(result_p_address)
        result = result.iloc[:,0].mean()
    max_txcost_in_neighb.append(result)
        
df3.loc[:,"max_txcost_in_neighb"]= max_txcost_in_neighb

In [189]:
#max amount out going transaction cost
max_txcost_out_neighb = []
for address in df3.wallet_address:
    result = 0
    result_p_address = []
    filtered_df = df_Neighb_normal_USD.loc[(df_Neighb_normal_USD["id"] == str(address))&(df_Neighb_normal_USD["out"] == True)]
    filtered_neighb = neighboars_out.loc[(neighboars_out["id"] == str(address))]
    for index, row in filtered_neighb.iterrows():
        result_p_address.append(filtered_df.loc[filtered_df["neighboar"] == str(row.neighboar), ["transaction_costUSD"]].max())
        result = pd.DataFrame(result_p_address)
        result = result.iloc[:,0].mean()
    max_txcost_out_neighb.append(result)
        
df3.loc[:,"max_txcost_out_neighb"]= max_txcost_out_neighb

In [103]:
df3.dropna()

,sow_estimated_net_worth_value,address,wallet_address,full_name,address_length,address_beginning,num_in_trans,num_out_trans,avg_trans_out,avg_trans_in,...,avg_transcost_out,avg_transcost_in,max_transcost_out,max_transcost_in,std_transcost_out,std_transcost_in,timedelta_trans_out,timedelta_trans_in,duration_out,num_in_trans_1neighb
21010,0,vthaichi.tst@gmail.com,0x1014d57ada2f05b967578beb253e28fa31172c39,vũ thái chí,42,0x,24,24,53.997297,236.808508,...,3.380601,2.169919,40.899351,18.075355,6.442279,4.270149,6.559864,1346.362319,1285.733333,1090.176471
3533,0,ykadri85@gmail.com,0x3fa756e0b4afcc0f0bfd755281fedf82d92927bd,YANNIS KADRI,42,0x,83,83,180.990266,126.744443,...,7.313988,2.791829,63.890564,11.856232,10.512804,2.694112,20.176794,33.087602,6839.933333,865.441667
20460,0,tihualong@hotmail.com,0x27075c80090971358a5a2cdccc897b0c0f7d16b2,SIMON WARNER,42,0x,56,56,1670.450613,4443.732778,...,21.685006,1.219053,350.037321,9.424448,38.545404,2.024594,6.768956,26.556667,2463.900000,966.240000
18942,0,zhoufang002x@gmail.com,0xb03d651170ceee35729aff792d522fd952cf94c0,SHICHUAN CHEN,42,0x,133,133,1513.888171,6099.392245,...,11.456101,1.105885,197.299926,26.074860,19.967672,2.573657,4.078214,257.680556,2801.733333,1007.700000
16454,0,rychlewski.irek@gmail.com,0xc7e18a2916a342f7f42c3594128270252de8bbbe,IRENEUSZ JANUSZ RYCHLEWSKI,42,0x,11,11,471.203238,624.526954,...,15.570283,4.669367,138.565519,8.404555,23.366231,2.144184,38.327469,189.986667,2069.683333,565.217391
11948,0,jdewagenaar@hotmail.com,0xc55f34c9e60a609f2393aef78a7454103f717d29,JORDY DE WAGENAAR,42,0x,10,10,135.775376,1417.198794,...,2.792878,1.991143,20.180617,6.814531,4.178943,2.824506,28.322316,-14.305556,3342.033333,1163.959184
10295,0,omkar.quickx@gmail.com,0x243bd00e58a06a342b4c6c12a597d3b765c24934,Omkar Bhalchandra Bhusare,42,0x,44,44,1.599107,5.032959,...,0.772924,0.447858,7.590586,3.990355,1.746554,1.042696,132.773881,326.751550,8895.850000,657.666667

#avg balance per neighb
avg_balance_p_neighb = []
for address in df3.wallet_address:
    result = 0
    result_p_address = []
    filtered_df = df_Neighb_normal_USD.loc[(df_Neighb_normal_USD["id"] == str(address))&(df_Neighb_normal_USD["out"] == False)&(df_Neighb_normal_USD["transaction_costUSD"] != 0)]
    filtered_neighb = neighboars_out.loc[(neighboars_out["id"] == str(address))]
    for index, row in filtered_neighb.iterrows():
        sleep(1)
        result_p_address.append(int(balance_api_call(str(row.neighboar), "QXYD8MMH1JIKKQRSAMUUNM16XEJTI5H7NQ")))
        result = pd.DataFrame(result_p_address)
        result = result.iloc[:,0].mean()
    avg_balance_p_neighb.append(result)
        
df3.loc[:,"avg_balance_p_neighb"]= avg_balance_p_neighb

In [148]:
for address in df3.wallet_address:
    result = 0
    result_p_address = []
    filtered_df = df_Neighb_normal_USD.loc[(df_Neighb_normal_USD["id"] == str(address))&(df_Neighb_normal_USD["out"] == False)&(df_Neighb_normal_USD["transaction_costUSD"] != 0)]
    filtered_neighb = neighboars_out.loc[(neighboars_out["id"] == str(address))]
    for index, row in filtered_neighb.iterrows():
        sleep(1)
        print(row.neighboar, int(balance_api_call(str(row.neighboar), "QXYD8MMH1JIKKQRSAMUUNM16XEJTI5H7NQ")))

0xb1690c08e213a35ed9bab7b318de14420fb57d8c 251611470729359269046
0x06012c8cf97bead5deae237070f9587f8e7a266d 6978962596193186753
0x4d39217fd94abf03928da97488b16ac91816108f 12950000000000000
0x199f2202d878e9747b4f96cdf2c980d59d7c0969 10000000000000000
0xdd4678e7f3d7ee45c62a0e3424a7a95d82a86489 1
0x2a0c0dbecc7e4d658f48e01e3fa353f44050c208 18075258604266470990491
0xa15c7ebe1f07caf6bff097d8a589fb8ac49ae5b3 0
0x5dd0815a4cf119ad91ba045bbbf879f3f7de3c68 0
0xcb47c89cb17c10b719fc5ed9665bae157cac2cb1 76910895114692639733
0x946048a75af11c300a274344887ec39452218b3d 0
0x41ec0ddb4e3a17e9b0a6bae7d90f2d389aaf7dee 810000000000000
0x89d24a6b4ccb1b6faa2625fe562bdd9a23260359 0
0x6758b7d441a9739b98552b373703d8d3d14f9e62 0
0x4e9d7f37eadc6fef64b5f5dccc4deb6224667677 0
0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48 0
0x37e02a58cbbb2bfd8bb097517b3bbda0e4604eaa 0
0xf45277b9b338a83b39d74419c510a6077d8c7734 174003577124655
0x34a34267ec4034ba52f154829d0b6548bbbf7c74 0
0x9677e98c621868a97d2dc0678efa7203475e9981 0
0xd46ba6d942050d489dbd938a2c909a5d5039a161 0
0xdac17f958d2ee523a2206206994597c13d831ec7 1
0x7a250d5630b4cf539739df2c5dacb4c659f2488d 0
0xf0fac7104aac544e4a7ce1a55adf2b5a25c65bd1 0
0x0bc529c00c6401aef6d220be8c6ea1667f6ad93e 0
0x61935cbdd02287b511119ddb11aeb42f1593b7ef 0
0x11111254369792b2ca5d084ab5eea397ca8fa48b 0
0x4d13d624a87baa278733c068a174412afa9ca6c8 0
0x5caf454ba92e6f2c929df14667ee360ed9fd5b26 0
0xe417b912f6cb6592ec2d71dbf6f2b48191b2cdf6 16339701290000000000
0xa8b919680258d369114910511cc87595aec0be6d 0
0xf911a7ec46a2c6fa49193212fe4a2a9b95851c27 0
0x9f284e1337a815fe77d2ff4ae46544645b20c5ff 0
0x0000000000004946c0e9f43f4dee607b0ef1fa1c 0
0x8cd6e29d3686d24d3c2018cee54621ea0f89313b 0
0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2 6913689096546138642964141
0x6f400810b62df8e13fded51be75ff5393eaa841f 0
0x0763fdccf1ae541a5961815c0872a8c5bc6de4d7 0
0x2d80f5f5328fdcb6eceb7cacf5dd8aedaec94e20 0
0x990f341946a3fdb507ae7e52d17851b87168017c 0
0x587a07ce5c265a38dd6d42def1566ba73eeb06f5 0
0x9f8f72aa9304c8b593d555f12ef6589cc3a579a2 0
0xcfe1e539acb2d489a651ca011a6eb93d32f97e23 0
0xe17f017475a709de58e976081eb916081ff4c9d5 0
0x84ca8bc7997272c7cfb4d0cd3d55cd942b3c9419 0
0x6a7ef4998eb9d0f706238756949f311a59e05745 0
0x0e2298e3b3390e3b945a5456fbf59ecc3f55da16 0
0xf1d7c9e4c57a5c1902f4a4ae2630d2da78ffb1c1 0
0x0bf6261297198d91d4fa460242c69232146a5703 0
0x5a0124b5f8af341d9c1f0faab194b438c8d27468 702625623593543487
0xf063fe1ab7a291c5d06a86e14730b00bf24cb589 0
0xaba8cac6866b83ae4eec97dd07ed254282f6ad8a 0
0x09e64c2b61a5f1690ee6fbed9baf5d6990f8dfd0 0
0xd379700999f4805ce80aa32db46a94df64561108 0
0x30f271c9e86d2b7d00a6376cd96a1cfbd5f0b9b3 0
0x2109f78b46a789125598f5ad2b7f243751c2934d 0
0x1b7902a66f133d899130bf44d7d879da89913b2e 0
0x090d4613473dee047c3f2706764f49e0821d256e 0
0x1f9840a85d5af5bf1d1762f925bdaddc4201f984 0
0x67597bd343366ab0c015b4c6eb8795172b1c843f 0
0x2260fac5e5542a773aa44fbcfedf7c193bc2c599 0
0xca35e32e7926b96a9988f61d510e038108d8068e 0
0x3a5e247d1b931347ef6e75a11b28bc5bfb4f608e 104068248941829455
0x84e632c0a8d02178d382a47679f8cbb37d28bfc1 0
0x946fca8ab96cf5e3ee2476fa29736987d59f1c76 0
0x4c099acacc28cb046d351e891117e669484e270d 0
0x6b175474e89094c44da98b954eedeac495271d0f 0
0x9a95debc716d45348ed0217500552ef736cb9032 0
0xb1e9157c2fdcc5a856c8da8b2d89b6c32b3c1229 0
0x05a0d55bbb2c047a3624af4db6d3a3ce2ea7da09 0
0xa866f0198208eb07c83081d5136be7f775c2399e 0
0x260e63d91fccc499606bae3fe945c4ed1cf56a56 5
0x0954906da0bf32d5479e25f46056d22f08464cab 0
0x8c0f30b1a167fc4db04e8f1d7f28dca4324a9379 0
0x68f1b730614216e4e7c5205fe4862096796aac38 0
0x66f04254ca406cedf222687afe873a35da573f2c 0
0x88ad09518695c6c3712ac10a214be5109a655671 0
0x4aa42145aa6ebf72e164c9bbc74fbd3788045016 0
0x863e4f64569db379af70ff35d37940d98d8f75f6 0
0x3b284c2b20efc0e7a8f0e249150b2737dd1b6a32 0
0xbfb5d14365a78d1d51d6ca76c85eb75e7116d009 0
0x3296b13b1ee66d953d4449bd81581a4612ecc27f 5894133122420895120
0xc1aba2d0810c8f14fcc75d08dd2f216d20de749a 600000000000000000
0x6100569fa77c7425e1e1cf010acd2eb6dba3117f 0
0xfc0f419dc443e705406ea0dbd1dccf9c86f1a0d5 0
0xea294d1485a527f7e8f1971e00f9ad801a478d49 0
0x1706c33b9a5b12aeb85b862215378dee9480eb95 90000000000
0x0829d2d5cc09d3d341e813c821b0cfae272d9fb2 0
0x3642a41e430cd75663cd4e951b45514ab43e590a 0
0x5e56621eda071aabfca2c47228187dc0003478ec 0
0x1ceb5cb57c4d4e2b2433641b95dd330a33185a44 9970000000000000
0x92a2673f4753f46d3911ae38f5b23d2108545350 0
0x967da4048cd07ab37855c090aaf366e4ce1b9f48 0
0x5d0152187741932a44f237f1bb992bc610b66176 0
0xddb9d20e9f13a1623e091e7ac218ff5757760766 0
0x881d40237659c251811cec9c364ef91dc08d300c 0
0x0ae055097c6d159879521c384f1d2123d1f195e6 0
0xa393473d64d2f9f026b60b6df7859a689715d092 0
0x8e9dec431eb1e325b2f6993ff03753a7b01be917 0
0x72e9d9038ce484ee986fea183f8d8df93f9ada13 0
0x75116bd1ab4b0065b44e1a4ea9b4180a171406ed 15327468806777195962
0xee5235b60cd5bbebfb61af79608ce48b026511ee 0
0x8517d1fd05578fa92ac5b17c69983caaab47ffb7 0
0x79a6c6fccc898848e86115bde19f38c1d94b92d1 0
0x8888801af4d980682e47f1a9036e589479e835c5 0
0xce222993a7e4818e0d12bc56376c5a60f92a5783 0
0x0828df03e5e339ed017b6db8956e27b6521bdf7d 0
0xe7b7d02296a016e25a40f18dfd55626a64308fe3 0
0x4d96369002fc5b9687ee924d458a7e5baa5df34e 0
0x3e9bc21c9b189c09df3ef1b824798658d5011937 0
0xdde3c0a2e4486a5e155128e093fa38a3a3cd7259 0
0xd48df82a6371a9e0083fbfc0df3af641b8e21e44 0
0xf406f7a9046793267bc276908778b29563323996 70187783350000000000
0xc5be99a02c6857f9eac67bbce58df5572498f40c 0
0x075bb66a472ab2bbb8c215629c77e8ee128cc2fc 0
0xd9e1ce17f2641f24ae83637ab66a2cca9c378b9f 0
0xcb2286d9471cc185281c4f763d34a962ed212962 0
0xc88ba3885995ce2714c14816a69a09880e1e518c 0
0x5a123a5ffb434dc12d73e2075f1ed649cf497f56 0
0xedd4833850c92c900aeba0f49b7c22e802e70042 0
0x8e09eb3fbd8f032546287713ccaf000d9e07f7ef 34
0x98df8d9e56b51e4ea8aa9b57f8a5df7a044234e1 0
0x394dcfbcf25c5400fcc147ebd9970ed34a474543 0
0x3472a5a71965499acd81997a54bba8d852c6e53d 0
0xfa5047c9c78b8877af97bdcb85db743fd7313d4a 0
0x38e4adb44ef08f22f5b5b76a8f0c2d0dcbe7dca1 0
0x429881672b9ae42b8eba0e26cd9c73711b891ca5 0
0x5dc02ea99285e17656b8350722694c35154db1e8 0
0x63b4f3e3fa4e438698ce330e365e831f7ccd1ef4 0
0xd2dda223b2617cb616c1580db421e4cfae6a8a85 0
0x0b38210ea11411557c13457d4da7dc6ea731b88a 0
0x9248c485b0b80f76da451f167a8db30f33c70907 0
0x3aa5f749d4a6bcf67dac1091ceb69d1f5d86fa53 0
0x13e6bf704f112181e0951f9c1b9a8a5c7e0a00e1 0
0x035066676b55a745eff77182d5d554b43f1ccafe 0
0xd291e7a03283640fdc51b121ac401383a46cc623 0
0xf94b5c5651c888d928439ab6514b93944eee6f48 0
0xa1afffe3f4d611d252010e3eaf6f4d77088b0cd7 0
0x4c8341379e95f70c08defb76c4f9c036525edc30 0
0xf539adbe6467c7c6e2b8f7aecf16747247b1f64f 0
0x52d904eff2605463c2f0b338d34abc9b7c3e3b08 0
0x875773784af8135ea0ef43b5a374aad105c5d39e 0
0xa7ed29b253d8b4e3109ce07c80fc570f81b63696 0
0x4b182469337d46e6603ed7e26ba60c56930a342c 0
0x3449fc1cd036255ba1eb19d65ff4ba2b8903a69a 0
0x3432b6a60d23ca0dfca7761b7ab56459d9c964d0 0
0x168e39f96a653ce0a456560687241b0b2936e5ff 0
0x4a7adcb083fe5e3d6b58edc3d260e2e61668e7a2 0
0xe295ad71242373c37c5fda7b57f26f9ea1088afe 0
0x111111111117dc0aa78b770fa6a738034120c302 0
0xe89600ca472732a4c4d734eb69a5c3fa28a4c117 0
0x0c49066c0808ee8c673553b7cbd99bcc9abf113d 0

KeyboardInterrupt:

In [190]:
df3.to_csv("df3addition_data0709.csv")

In [7]:
df3 = pd.read_csv("df3addition_data0709.csv")

## get ERC variables

In [11]:
df_origin_erc20_USD

,Unnamed: 0,hash,tx_from,tx_to,eth_value,out,confirmed,timeStamp,nonce,gas,...,data_transaction,isError,cumulativeGasUsed,tokenName,tokenSymbol,tokenDecimal,Close,eth_valueUSD,transaction_costUSD,will_gas_PriceUSD
0,0,0x87096d169d2d8e04561350d9e049ce4589126fc3cc68...,0x151bc71a40c56c7cb3317d86996fd0b4ff9bd907,0x61797662af0280d3090a53d69da71ec9dc9626d9,5.000000e-15,False,True,2018-02-10 21:03:00,164,5000000.0,...,deprecated,NaN,4984627,GSG coin,GSGC,0,818.52,4.092600e-12,2.437486,8.185200e-07
1,1,0x083b53516bc0953773db9c559be7948717fa7ce11477...,0x25b6bae3b77d7e1eee722912b155f9a79f7eef4a,0x61797662af0280d3090a53d69da71ec9dc9626d9,1.000000e+01,False,True,2018-02-11 15:44:00,85,6000000.0,...,deprecated,NaN,6485862,LiteXToken,LXT,18,829.02,8.290200e+03,7.620622,1.658040e-06
2,2,0x81a66620ae87ceb17aac1d4befbbb1dcb658d090bd2b...,0xe3846628ffe0efa0767f07c59cf1b47e92d54617,0x61797662af0280d3090a53d69da71ec9dc9626d9,3.000000e+04,False,True,2018-02-11 15:51:00,4897,66000.0,...,deprecated,NaN,4572183,Mankind First,MKF,18,832.00,2.496000e+07,0.173858,3.328000e-06
3,3,0xc495e41d4d3fd11eb120e5e2c881c248187d965ba3ad...,0x151bc71a40c56c7cb3317d86996fd0b4ff9bd907,0x61797662af0280d3090a53d69da71ec9dc9626d9,5.000000e-15,False,True,2018-02-14 23:23:00,398,5000000.0,...,deprecated,NaN,3383111,GSG coin,GSGC,0,926.05,4.630250e-12,1.368923,9.260500e-07
4,4,0xef368fe9d831552592967f562e13c5f4e22e436f580f...,0x4edc0beccec6712a6c312131051a7902bcb769d4,0x61797662af0280d3090a53d69da71ec9dc9626d9,5.920813e-06,False,True,2018-02-19 06:49:00,0,85000.0,...,deprecated,NaN,4906503,CandyHCoin,CANDY,8,944.65,5.593096e-03,0.049296,9.446500e-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58551,64824,0x3724b7f9ac042589fd6ccd7f198b046313dea476bc81...,0xe99f651b7b58f8e27f323f36aebf0ff06fa0f9f4,0x4109b9fb213bccffabe46905f20a74d39ba41843,5.000000e+01,False,True,2021-04-04 11:15:00,170,11350411.0,...,deprecated,NaN,11460077,PolkaBridge,PBR,18,2088.57,1.044285e+05,2133.510721,1.879713e-04
58552,64825,0x7b2c13f2d65efbd2e07b63267b7cba739def7fa8756b...,0xf45ba58c415ed6c77cfc157f42f300f9fd980985,0x4109b9fb213bccffabe46905f20a74d39ba41843,1.935370e+05,False,True,2021-06-16 17:08:00,257,114154.0,...,deprecated,NaN,7250590,Paint,PAINT,18,2392.45,4.630276e+08,4.005598,5.263390e-05
58553,64826,0xce53be7d19e7a92f2a13fa84ce396945287d780e8ab4...,0x4109b9fb213bccffabe46905f20a74d39ba41843,0x478893fcbfffc3283fece2a216229e1c34093980,1.000000e+05,True,True,2021-06-16 17:28:00,259,170680.0,...,deprecated,NaN,11499384,Paint,PAINT,18,2399.42,2.399420e+08,3.952152,3.359188e-05
58554,64827,0xaf1faf108cd2a4abde32d9255e879b76e3ecd2b6ec05...,0x4109b9fb213bccffabe46905f20a74d39ba41843,0x9d7e5647ce3c7c2d835f2f5e82c8fdb36b0bb0fe,7.934000e+03,True,True,2021-06-23 20:48:00,264,269080.0,...,deprecated,NaN,13066240,XY Oracle,XYO,18,1935.56,1.535673e+07,3.219537,1.742004e-05
58555,64828,0xca88ba6cea2a5c0f77aa0d0d157a95cf9dee862d68bc...,0x4109b9fb213bccffabe46905f20a74d39ba41843,0xa4bd201c839755948e4eaec754214f2b8a6e5955,9.353700e+04,True,True,2021-06-23 20:56:00,268,184555.0,...,deprecated,NaN,11707342,Paint,PAINT,18,1928.58,1.803936e+08,2.491396,2.121438e-05

In [13]:
df_origin_erc20_USD['tokenSymbol'] = pd.Categorical(df_origin_erc20_USD['tokenSymbol'])

In [14]:
#Number ingoing transactions
lengthERC=[]
for address in df3.wallet_address:
    lengthERC.append(len(df_origin_erc20_USD[df_origin_erc20_USD["tx_to"] == str(address)]))
df3.loc[:,"num_in_transERC"]= lengthERC

In [15]:
#Number ingoing transactions
lengthERC=[]
for address in df3.wallet_address:
    lengthERC.append(len(df_origin_erc20_USD[df_origin_erc20_USD["tx_from"] == str(address)]))
df3.loc[:,"num_out_transERC"]= lengthERC

In [16]:
#number of unique outgoing transaction partners 
ERCunique_tpartn_out=[]
for address in df3.wallet_address:
    ERCunique_tpartn_out.append(df_origin_erc20_USD.loc[(df_origin_erc20_USD['tx_from'] == address), ["tx_to"]].nunique())
df3.loc[:,"ERCunique_tpartn_out"]= ERCunique_tpartn_out

In [17]:
#number of unique ingoing transaction partners 
ERCunique_tpartn_in=[]
for address in df3.wallet_address:
    ERCunique_tpartn_in.append(df_origin_erc20_USD.loc[(df_origin_erc20_USD['tx_to'] == address), ["tx_from"]].nunique())
df3.loc[:,"ERCunique_tpartn_in"]= ERCunique_tpartn_in

In [18]:
#average outg. transaction costs
ERCavg_transcost_out=[]
for address in df3.wallet_address:
    ERCavg_transcost_out.append(df_origin_erc20_USD.loc[lambda df_origin_erc20_USD: df_origin_erc20_USD['tx_from'] == str(address), ["transaction_costUSD"]].mean())
df3.loc[:,"ERCavg_transcost_out"]= ERCavg_transcost_out

In [19]:
#average inc. transaction costs
ERCavg_transcost_in=[]
for address in df3.wallet_address:
    ERCavg_transcost_in.append(df_origin_erc20_USD.loc[lambda df_origin_erc20_USD: df_origin_erc20_USD['tx_to'] == str(address), ["transaction_costUSD"]].mean())
df3.loc[:,"ERCavg_transcost_in"]= ERCavg_transcost_in

In [20]:
#max transaction costs outgoing
ERCmax_transcost_out=[]
for address in df3.wallet_address:
    ERCmax_transcost_out.append(df_origin_erc20_USD.loc[lambda df_origin_erc20_USD: df_origin_erc20_USD['tx_from'] == str(address), ["transaction_costUSD"]].max())
df3.loc[:,"ERCmax_transcost_out"]= ERCmax_transcost_out

In [21]:
#number of different traded tokens (outgoing + ingoing)
ERC_nb_tkn_out=[]
ERC_nb_tkn_in=[]
ERC_nb_tkn_tot=[]
for address in df3.wallet_address:
    ERC_nb_tkn_out.append(df_origin_erc20_USD.loc[lambda df_origin_erc20_USD: df_origin_erc20_USD['tx_from'] == str(address), ["tokenSymbol"]].nunique().iloc[0])
    ERC_nb_tkn_in.append(df_origin_erc20_USD.loc[lambda df_origin_erc20_USD: df_origin_erc20_USD['tx_to'] == str(address), ["tokenSymbol"]].nunique().iloc[0])
ERC_nb_tkn_tot = pd.DataFrame(ERC_nb_tkn_out)+ pd.DataFrame(ERC_nb_tkn_in)
#df3.loc[:,"ERC_nb_tkn_tot"]= ERC_nb_tkn_tot

In [22]:
ERC_nb_tkn_tot = ERC_nb_tkn_tot.rename({0: 'ERC_nb_tkn_tot'}, axis = 1)

In [23]:
df3 = pd.concat([df3, ERC_nb_tkn_tot], axis = 1)
df3

,Unnamed: 0,sow_estimated_net_worth_value,address,wallet_address,full_name,address_length,address_beginning,num_in_trans,num_out_trans,avg_trans_out,...,max_txcost_in_neighb,max_txcost_out_neighb,num_in_transERC,num_out_transERC,ERCunique_tpartn_out,ERCunique_tpartn_in,ERCavg_transcost_out,ERCavg_transcost_in,ERCmax_transcost_out,ERC_nb_tkn_tot
0,631,0,babama1003@gmail.com,0x61797662af0280d3090a53d69da71ec9dc9626d9,Moriam Begum,42,0x,5,20,0.160075,...,5.216249,16.482610,117,8,6,91,0.973798,5.970003,6.393911,99
1,592,0,btcsharkie@gmail.com,0x2c165a91035b1c0b44e8dfc3e5b5e24f562d4a44,FARDIN ATMAR,42,0x,7,30,637.245885,...,18.673399,58.350172,12,11,6,7,24.526040,792.515991,54.230004,11
2,599,0,fatihsenel0@gmail.com,0xff8ba48f19979a2fa42fa56ce3b85979c6170671,FATIH SENEL,42,0x,9,95,213.486987,...,NaN,140.840984,28,27,20,19,26.254833,23.274722,88.625011,28
3,291,0,mymino@nate.com,0x6df2e1ea7fdb2bcc7c97b0557c786d82d654bd30,YEO MINHO,42,0x,9,54,0.269183,...,0.017823,1.201138,97,31,20,56,1.039332,29.411169,7.082600,82
4,72,0,vvd09325874062@gmail.com,0x8c829e7714069d661431f8c2a7b508fc50040786,Võ Văn Đô,42,0x,1,59,0.000000,...,NaN,NaN,393,48,1,3,2.810772,1.783913,14.745902,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,245,0,patrimoniodearagua@gmail.com,0x4e8ba28f9c8efc39cdba10fa99de049f08fd50be,Helio Arturo Uzcategui Pernia,42,0x,0,6,0.642789,...,NaN,0.332010,8,0,0,7,NaN,2.935707,NaN,7
296,507,0,dennismader@outlook.com,0xb2f1a288e6bf497e3b41adf23a4a89896069d1f6,DENNIS ROLF MADER,42,0x,58,505,601.602494,...,4.901775,78.437931,204,175,93,99,27.046761,41.962073,203.094550,110
297,272,0,theboy1707@gmail.com,0x42afe93a50c9fba4bf55de264da7bfacdbd2ec70,XUAN TUAN CHAU HUYNH,42,0x,102,793,136.241588,...,4.721477,27.768572,312,287,103,122,14.608937,17.551375,89.073868,156
298,154,0,tthinh883@gmail.com,0x1dd3fdd3b637b88c4a2387199769ca1adb23847c,TRAN PHAM TRUC DUONG,42,0x,33,196,1.346290,...,1.869547,2.461949,197,54,45,123,7.010335,14.258410,105.270845,111
299,126,0,zubar1980@gmail.com,0x4109b9fb213bccffabe46905f20a74d39ba41843,Зубарев Сергей Владимирович,42,0x,42,233,1.945643,...,0.637106,0.991611,510,55,31,357,0.385240,11.795857,3.952152,428

In [24]:
df_test["timeStamp"] = pd.to_datetime(df_test["timeStamp"])

In [25]:
#number of sells
hot_sell_per = df_test[df_test["out"]==True].resample("H", on = "timeStamp").out.count()
hot_sell_per

timeStamp
2016-07-27 11:00:00    1
2016-07-27 12:00:00    0
2016-07-27 13:00:00    0
2016-07-27 14:00:00    0
2016-07-27 15:00:00    0
                      ..
2021-07-16 18:00:00    0
2021-07-16 19:00:00    0
2021-07-16 20:00:00    3
2021-07-16 21:00:00    1
2021-07-16 22:00:00    2
Freq: H, Name: out, Length: 43572, dtype: int64

In [26]:
#number of buys
hot_buy_per = df_test[df_test["out"]==False].resample("D", on = "timeStamp").hash.count()
hot_buy_per

timeStamp
2016-07-31     1
2016-08-01     0
2016-08-02     0
2016-08-03     0
2016-08-04     0
              ..
2021-07-12    10
2021-07-13     0
2021-07-14     8
2021-07-15     6
2021-07-16     4
Freq: D, Name: hash, Length: 1812, dtype: int64

In [27]:
pressure_periods = pd.concat([hot_buy_per, hot_sell_per], axis = 1, join = "inner")
pressure_periods = pressure_periods.rename({"hash":"no_buys", "out":"no_sells"}, axis = "columns")
pressure_periods["p"]= pressure_periods["no_buys"] - pressure_periods["no_sells"]
pressure_periods[["p"]].describe()

                 p
count  1812.000000
mean      3.844371
std       4.609435
min     -16.000000
25%       1.000000
50%       3.000000
75%       5.000000
max      57.000000

In [28]:
sorted_pp = pressure_periods.sort_values(by=["p"])
sorted_pp.head(10)

            no_buys  no_sells   p
timeStamp
2021-06-04        8        24 -16
2020-11-14        2        10  -8
2021-07-04        3        10  -7
2020-10-08        6        13  -7
2021-03-29       11        18  -7
2020-11-10        3         9  -6
2020-09-28       13        19  -6
2019-03-24        3         9  -6
2020-02-29        7        13  -6
2017-10-26        2         7  -5

In [29]:
sellpump = sorted_pp.head(10)
sellpump

            no_buys  no_sells   p
timeStamp
2021-06-04        8        24 -16
2020-11-14        2        10  -8
2021-07-04        3        10  -7
2020-10-08        6        13  -7
2021-03-29       11        18  -7
2020-11-10        3         9  -6
2020-09-28       13        19  -6
2019-03-24        3         9  -6
2020-02-29        7        13  -6
2017-10-26        2         7  -5

In [30]:
buypump = sorted_pp.tail(10)
buypump

            no_buys  no_sells   p
timeStamp
2021-03-16       24         3  21
2021-01-27       24         2  22
2020-08-14       22         0  22
2021-02-23       25         1  24
2021-04-22       28         2  26
2021-04-08       27         0  27
2018-01-29       33         2  31
2020-09-17       36         0  36
2018-05-11       47         2  45
2020-06-03       57         0  57

In [31]:
high_pressure_sells =[]

for address in df3.wallet_address:
    test = pd.DataFrame()
    eth_bough = []
    address_id = []
    time_index = []
    filter_df = df_test.loc[df_test["tx_from"]==str(address)]
    for i in filter_df.resample("D", on = "timeStamp").eth_value.sum().index:
        if i in sellpump.index: 
            filter2 = filter_df[filter_df["timeStamp"]== str(i)]
            address_id.append(address)
            time_index.append(i)
    test["address_id"] = address_id
    test["time_index"] = time_index
    high_pressure_sells.append(len(test))
df3.loc[:,"high_pressure_sells"]= high_pressure_sells
        #buys.append()

In [32]:
high_pressure_buys =[]

for address in df3.wallet_address:
    test = pd.DataFrame()
    eth_bough = []
    address_id = []
    time_index = []
    filter_df = df_test.loc[df_test["tx_from"]==str(address)]
    for i in filter_df.resample("D", on = "timeStamp").eth_value.sum().index:
        if i in buypump.index: 
            filter2 = filter_df[filter_df["timeStamp"]== str(i)]
            address_id.append(address)
            time_index.append(i)
    test["address_id"] = address_id
    test["time_index"] = time_index
    high_pressure_buys.append(len(test))
df3.loc[:,"high_pressure_buys"]= high_pressure_buys
        #buys.append()

In [33]:
df3

,Unnamed: 0,sow_estimated_net_worth_value,address,wallet_address,full_name,address_length,address_beginning,num_in_trans,num_out_trans,avg_trans_out,...,num_in_transERC,num_out_transERC,ERCunique_tpartn_out,ERCunique_tpartn_in,ERCavg_transcost_out,ERCavg_transcost_in,ERCmax_transcost_out,ERC_nb_tkn_tot,high_pressure_sells,high_pressure_buys
0,631,0,babama1003@gmail.com,0x61797662af0280d3090a53d69da71ec9dc9626d9,Moriam Begum,42,0x,5,20,0.160075,...,117,8,6,91,0.973798,5.970003,6.393911,99,6,7
1,592,0,btcsharkie@gmail.com,0x2c165a91035b1c0b44e8dfc3e5b5e24f562d4a44,FARDIN ATMAR,42,0x,7,30,637.245885,...,12,11,6,7,24.526040,792.515991,54.230004,11,3,3
2,599,0,fatihsenel0@gmail.com,0xff8ba48f19979a2fa42fa56ce3b85979c6170671,FATIH SENEL,42,0x,9,95,213.486987,...,28,27,20,19,26.254833,23.274722,88.625011,28,7,5
3,291,0,mymino@nate.com,0x6df2e1ea7fdb2bcc7c97b0557c786d82d654bd30,YEO MINHO,42,0x,9,54,0.269183,...,97,31,20,56,1.039332,29.411169,7.082600,82,7,8
4,72,0,vvd09325874062@gmail.com,0x8c829e7714069d661431f8c2a7b508fc50040786,Võ Văn Đô,42,0x,1,59,0.000000,...,393,48,1,3,2.810772,1.783913,14.745902,5,5,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,245,0,patrimoniodearagua@gmail.com,0x4e8ba28f9c8efc39cdba10fa99de049f08fd50be,Helio Arturo Uzcategui Pernia,42,0x,0,6,0.642789,...,8,0,0,7,NaN,2.935707,NaN,7,1,0
296,507,0,dennismader@outlook.com,0xb2f1a288e6bf497e3b41adf23a4a89896069d1f6,DENNIS ROLF MADER,42,0x,58,505,601.602494,...,204,175,93,99,27.046761,41.962073,203.094550,110,8,8
297,272,0,theboy1707@gmail.com,0x42afe93a50c9fba4bf55de264da7bfacdbd2ec70,XUAN TUAN CHAU HUYNH,42,0x,102,793,136.241588,...,312,287,103,122,14.608937,17.551375,89.073868,156,7,7
298,154,0,tthinh883@gmail.com,0x1dd3fdd3b637b88c4a2387199769ca1adb23847c,TRAN PHAM TRUC DUONG,42,0x,33,196,1.346290,...,197,54,45,123,7.010335,14.258410,105.270845,111,9,8
299,126,0,zubar1980@gmail.com,0x4109b9fb213bccffabe46905f20a74d39ba41843,Зубарев Сергей Владимирович,42,0x,42,233,1.945643,...,510,55,31,357,0.385240,11.795857,3.952152,428,8,9

In [34]:
df3.to_csv("df3addition_data1709.csv")

## EL

In [191]:
df_test
normal_trans_ELy = df_test[["tx_from", "tx_to"]]
normal_trans_ELy["weight"] = df_test["eth_valueUSD"]+df_test["transaction_costUSD"]

<ipython-input-191-5c196cef28d0>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  normal_trans_ELy["weight"] = df_test["eth_valueUSD"]+df_test["transaction_costUSD"]

In [ ]:
normal_trans_ELy

In [188]:
EL_ERCneighb_USD.head()

,Unnamed: 0,hash,tx_from,tx_to,eth_value,out,confirmed,timeStamp,nonce,gas,...,cumulativeGasUsed,tokenName,tokenSymbol,tokenDecimal,id,neighboar,Close,eth_valueUSD,transaction_costUSD,will_gas_PriceUSD
0,0,0xeef7c5204ac125cb0975e2a111881d34607f006c9b0d...,0x7769f394f87204df364b219821a068989dc19302,0x4d39217fd94abf03928da97488b16ac91816108f,2.000000e-07,False,True,2018-01-19 11:05:00,1555,3123860.0,...,5767884,ArtisTurba,ARTIS,8.0,0x3296b13b1ee66d953d4449bd81581a4612ecc27f,0x4d39217fd94abf03928da97488b16ac91816108f,1045.50,2.091000e-04,79.026940,0.000026
1,1,0x66e267f021407d5d348825f00fab3a508d40ba5bbbcb...,0x3296b13b1ee66d953d4449bd81581a4612ecc27f,0x4d39217fd94abf03928da97488b16ac91816108f,1.000000e+03,False,True,2018-06-20 06:39:00,12,52909.0,...,1924647,Pundi X Token,NPXS,18.0,0x3296b13b1ee66d953d4449bd81581a4612ecc27f,0x4d39217fd94abf03928da97488b16ac91816108f,521.42,5.214200e+05,1.131100,0.000021
2,2,0xa365ef5b0ec87c8b577218d558626ef566adecfc8d55...,0x3296b13b1ee66d953d4449bd81581a4612ecc27f,0x4d39217fd94abf03928da97488b16ac91816108f,1.680967e+05,False,True,2018-06-20 06:46:00,13,38101.0,...,1802212,Pundi X Token,NPXS,18.0,0x3296b13b1ee66d953d4449bd81581a4612ecc27f,0x4d39217fd94abf03928da97488b16ac91816108f,520.66,8.752121e+07,0.493138,0.000021
3,891,0xfb30010a991322a51965b3764141ed9ed1d10697910c...,0xdf4943c61042919bd45312d033bd697a1e0a6397,0xa277c67ca954582d6da335b567acd73b02eba6d6,1.000000e+03,False,True,2018-06-20 06:46:00,9,6000000.0,...,5111710,Doves,Dove,18.0,0x387c50f4767b04e7a41f0c365b9d563ae787ec40,0xa277c67ca954582d6da335b567acd73b02eba6d6,520.66,5.206600e+05,5.927642,0.000002
4,3,0x94f95a7eb4ace9415e4e6758c84b8076e8be8547711f...,0x4d39217fd94abf03928da97488b16ac91816108f,0x3f5ce5fbfe3e9af3971dd833d26ba9b5c936f0be,1.690967e+05,True,True,2018-06-20 09:21:00,2,76202.0,...,1495070,Pundi X Token,NPXS,18.0,0x3296b13b1ee66d953d4449bd81581a4612ecc27f,0x4d39217fd94abf03928da97488b16ac91816108f,526.87,8.909196e+07,0.243424,0.000011

In [187]:
EL_ERCneighb_USD.head()
finEL_ERCneighb_USD = EL_ERCneibUSD_small[["tx_from", "tx_to"]]#take only 10%
finEL_ERCneighb_USD["weight"] = EL_ERCneibUSD_small["eth_valueUSD"]+EL_ERCneibUSD_small["transaction_costUSD"]

<ipython-input-187-e9849771caee>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  finEL_ERCneighb_USD["weight"] = EL_ERCneibUSD_small["eth_valueUSD"]+EL_ERCneibUSD_small["transaction_costUSD"]

In [192]:
df_origin_erc20_USD.head()
EL_origin_erc20y = df_origin_erc20_USD[["tx_from", "tx_to"]]
EL_origin_erc20y["weight"] = df_origin_erc20_USD["eth_valueUSD"]+df_origin_erc20_USD["transaction_costUSD"]

<ipython-input-192-3a6d3bbca05f>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  EL_origin_erc20y["weight"] = df_origin_erc20_USD["eth_valueUSD"]+df_origin_erc20_USD["transaction_costUSD"]

In [189]:
small_Neighb_normal_USD.head()
EL_Neigh_norm = small_Neighb_normal_USD[["tx_from", "tx_to"]]
EL_Neigh_norm["weight"] = small_Neighb_normal_USD["eth_valueUSD"]+small_Neighb_normal_USD["transaction_costUSD"]

<ipython-input-189-098846bb639c>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  EL_Neigh_norm["weight"] = small_Neighb_normal_USD["eth_valueUSD"]+small_Neighb_normal_USD["transaction_costUSD"]

In [190]:
EL_final = normal_trans_ELy.append([EL_Neigh_norm, EL_origin_erc20y, finEL_ERCneighb_USD], ignore_index = True)

In [193]:
EL_only_origin = normal_trans_ELy.append(EL_origin_erc20y, ignore_index = True)

In [196]:
EL_only_origin.isnull().sum()

tx_from    0
tx_to      0
weight     0
dtype: int64

In [191]:
len(EL_final)

3879723

In [ ]:
len(EL_only_origin)

In [194]:
EL_only_origin.to_csv("EL_only_origin_add0709.csv")

In [156]:
df_test.loc[df_test["tx_from"]=="0x090dcf87443e1495b0ffaf1f3b7a1d8b2c91aa3b"]

Empty DataFrame
Columns: [hash, tx_from, tx_to, eth_value, out, confirmed, timeStamp, nonce, gas, will_gas_Price, gasUsed, transaction_cost, data_transaction, isError, cumulativeGasUsed, Close, eth_valueUSD, transaction_costUSD, will_gas_PriceUSD]
Index: []

In [197]:
df3.iloc[72,:]

sow_estimated_net_worth_value                                             0
address                                                      cryps@inbox.ru
wallet_address                   0x4364ee482831c9599e8859b5e3856089413fa407
full_name                                                    Sergei Suvorov
address_length                                                           42
address_beginning                                                        0x
num_in_trans                                                              1
num_out_trans                                                            20
avg_trans_out                                                        556.45
avg_trans_in                                                        392.048
sum_trans_in                                                        392.048
sum_trans_out                                                       392.048
max_trans_out                                                       5512.56
max_trans_in                                                        392.048
std_trans_in                                                            NaN
std_trans_out                                                       1488.14
min_trans_out                                                        230.66
min_trans_in                                                        392.048
unique_tpartn_out                                                        10
unique_tpartn_in                                                          1
avg_transcost_out                                                   10.8146
avg_transcost_in                                                    7.43035
max_transcost_out                                                   34.5374
max_transcost_in                                                    7.43035
std_transcost_out                                                   8.61033
std_transcost_in                                                        NaN
timedelta_trans_out                                                 15.5816
timedelta_trans_in                                                      NaN
duration_out                                                         296.05
num_in_trans_1neighb                                                      4
avg_oneNightStands_out                                                    0
avg_oneNightStands_in                                                     0
num_out_trans_1neighb                                               7.63636
avg_tx_out_neighb                                                   54.8437
avg_tx_in_neighb                                                2.15924e+07
max_tx_out_neighb                                                   1110.48
max_tx_in_neighb                                                8.50599e+07
sum_tx_in_neighb                                                8.63694e+07
sum_tx_out_neighb                                                   418.807
std_tx_out_neighb                                                   153.647
std_tx_in_neighb                                                4.23142e+07
unique_tx_out_neighb                                                6.63636
unique_tx_in_neighb                                                       1
avg_txcost_out_neighb                                              0.832594
avg_txcost_in_neighb                                                2.08529
max_txcost_in_neighb                                                2.40807
max_txcost_out_neighb                                                 15.84
Name: 49, dtype: object

In [175]:
import networkx as nx
graph = nx.from_pandas_edgelist(EL_final, 'tx_from', 'tx_to', ['weight'], create_using=nx.DiGraph())

In [198]:
graph_onlyorigin = nx.from_pandas_edgelist(EL_only_origin, 'tx_from', 'tx_to', ['weight'], create_using=nx.DiGraph())

In [199]:
print(nx.info(graph_onlyorigin))

Name:
Type: DiGraph
Number of nodes: 13909
Number of edges: 33102
Average in degree:   2.3799
Average out degree:   2.3799

In [159]:
EL_final.loc[EL_final["tx_to"]=="0x3d6f0dea3ac3c607b3998e6ce14b6350721752d9"]

,tx_from,tx_to,weight
1267,0x39afa3cddadcea9d91c12968b7963340f5793ce8,0x3d6f0dea3ac3c607b3998e6ce14b6350721752d9,5.443185e+00
1272,0x2ca53c3ea2fbddda192b8708684d351565e6a540,0x3d6f0dea3ac3c607b3998e6ce14b6350721752d9,9.294811e+00
1279,0x882d2107790bdb19c93355c4b85e4dfe655a054e,0x3d6f0dea3ac3c607b3998e6ce14b6350721752d9,1.172887e+01
2618,0xbeaf9ef2c2401352aec6bcdb1274e0a8643d1313,0x3d6f0dea3ac3c607b3998e6ce14b6350721752d9,2.276290e+00
2748,0xbe6fe69842c1dcb98da4616397f608f795d100b4,0x3d6f0dea3ac3c607b3998e6ce14b6350721752d9,4.763757e+00
...,...,...,...
19496574,0x16b4096d00a2063005168b8e130c5abfda86cf54,0x3d6f0dea3ac3c607b3998e6ce14b6350721752d9,1.660059e+06
26119118,0x0751d473f9fb8573e0dff64d75a1da2c67e0069d,0x3d6f0dea3ac3c607b3998e6ce14b6350721752d9,2.032837e+02
27201263,0x8363aaa98ca3a3636a8f27e48eccd63d0ea9901e,0x3d6f0dea3ac3c607b3998e6ce14b6350721752d9,3.918620e+00
34453612,0x16b4096d00a2063005168b8e130c5abfda86cf54,0x3d6f0dea3ac3c607b3998e6ce14b6350721752d9,1.660059e+06
36858268,0xdd70d2ffea23ed0ae7dbd3f00ba2bb3183d0e100,0x3d6f0dea3ac3c607b3998e6ce14b6350721752d9,6.079240e+00

In [176]:
 
df3_clean = df3[df3.wallet_address != "0xc93793b1ca80b3b3a3fb698690d4f6e6c684a074"] 
df3_clean = df3_clean.loc[(df3_clean["num_in_trans"]!= 0)|(df3_clean["num_out_trans"]!= 0)] #delete all observations without meaningful transactions as they just lead to many NAs (in the real application one can create another prediction algorithm that works only based on age and location etc.)

In [174]:
df3_zeros = df3.loc[(df3["num_in_trans"]== 0)|(df3["num_out_trans"]== 0)]#take a look at the zeros -> indeed there is no logic e.g. only millionaires give wrong addresses -> it is always the case
perc_acc_inv = df3_zeros.sow_estimated_net_worth_value.sum() / df3_zeros.sow_estimated_net_worth_value.count()
perc_acc_inv

0.5588235294117647

In [179]:
#calc nodes of every egonet (1hop)
no_nodes_egonet=[]
for address in df3_clean.wallet_address:
    ego_net = nx.ego_graph(graph, address)
    no_nodes_egonet.append(ego_net.order())
df3_clean.loc[:,"no_nodes"]= no_nodes_egonet

KeyboardInterrupt:

In [ ]:
df3

In [ ]:
#calc nodes of every egonet (2hop)
no_nodes_egonet=[]
for address in df3_clean.wallet_address:
    ego_net = nx.ego_graph(graph, address, undirected=True, radius = 2)
    no_nodes_egonet.append(ego_net.order())
df3_clean.loc[:,"no_nodes_2hop"]= no_nodes_egonet

In [ ]:
#calc edges of every egonet (2hop)
no_edges_egonet=[]
for address in df3_clean.wallet_address:
    ego_net = nx.ego_graph(graph, address, undirected=True, radius = 2)
    no_edges_egonet.append(ego_net.size())
df3_clean.loc[:,"no_edges"]= no_edges_egonet

In [ ]:
#no of transactions in a 1-hop egonet 
no_edges_egonet=[]
for address in df3_clean.wallet_address:
    ego_net = nx.ego_graph(graph, address, undirected=True)
    no_edges_egonet.append(ego_net.size())
df3_clean.loc[:,"no_outg_trans"]= no_edges_egonet

In [ ]:
#calc avg degree of netw
avg_degree_egon=[]
for address in df3_clean.wallet_address:
    ego_net = nx.ego_graph(graph, address, undirected=True, radius = 2)
    result = pd.DataFrame(nx.degree(ego_net))
    avg_degree_egon.append(result.mean())
df3_clean.loc[:,"avg_degree"]= avg_degree_egon

In [ ]:
#calc degree of node in the total network
degree_total=[]
for address in df3_clean.wallet_address:
    degree_total.append(graph.degree(address))
df3_clean.loc[:,"degree_total"]= degree_total

In [ ]:
#sparsity of the 2 hop egonetwork
sparsity_egonet=[]
for address in df3_clean.wallet_address:
    ego_net = nx.ego_graph(graph, address, undirected=True, radius =2)
    no_nodes = ego_net.order()
    max_edges = no_nodes*(no_nodes-1)/2
    no_edges = ego_net.size()
    sparsity = no_edges/(max_edges+1)#plus 1 aufgrund division by zero
    sparsity_egonet.append(sparsity)
df3_clean.loc[:,"sparsity_egonet"]= sparsity_egonet

In [ ]:
#sparsity of the 1 hop egonetwork
sparsity_egonet=[]
for address in df3_clean.wallet_address:
    ego_net = nx.ego_graph(graph, address, undirected=True, radius =1)
    no_nodes = ego_net.order()
    max_edges = no_nodes*(no_nodes-1)/2
    no_edges = ego_net.size()
    sparsity = no_edges/(max_edges+1)#plus 1 aufgrund division by zero
    sparsity_egonet.append(sparsity)
df3_clean.loc[:,"sparsity_egonet"]= sparsity_egonet

In [ ]:
#Degree Centrality of the address in a 2hop ego net
deg_centr_ego=[]
for address in df3_clean.wallet_address:
    ego_net = nx.ego_graph(graph, address, undirected=True, radius = 2)
    x = nx.degree_centrality(ego_net)
    y = pd.DataFrame.from_dict(x, orient = "index")
    z = y.loc[str(address)]
    deg_centr_ego.append(z.iloc[0])
df3_clean.loc[:,"deg_centr_ego"]= deg_centr_ego

In [ ]:
#reciprocity of the address in the ego net
recipr_in_ego=[]
for address in df3_clean.wallet_address:
    ego_net = nx.ego_graph(graph, address, undirected=True)
    x = nx.reciprocity(ego_net, nodes = address)
    recipr_in_ego.append(x)
df3_clean.loc[:,"recipr_in_ego"]= recipr_in_ego

In [ ]:
#reciprocity of the address in the ego net
recipr_in_ego=[]
for address in df3_clean.wallet_address:
    ego_net = nx.ego_graph(graph, address, undirected=True)
    x = nx.reciprocity(ego_net, nodes = address)
    recipr_in_ego.append(x)
df3_clean.loc[:,"recipr_in_ego"]= recipr_in_ego

In [ ]:
df3_clean

In [582]:
x = nx.degree_centrality(ego_net)
y= pd.DataFrame.from_dict(x, orient = "index")
z = y.loc["0xa886576fed10723401386697aadf777e1d4bca05"]
z.iloc[0]

0.03754266211604096

In [385]:
# average percentage of transaction costs comp. to transferred ETH in outgoing transactions
rel_trans_cost=[]
for address in df3.wallet_address:
    filtered_df = df_test.loc[(df_test['tx_from'] == address)]
    result_p_trans=[]
    for index, row in filtered_df.iterrows():
        result = row.transaction_costUSD/row.eth_valueUSD
        result_p_trans.append(result)
    rel_trans_cost = rel_trans_cost.append(result.mean())
    
df3.loc[:,"rel_trans_cost"]= rel_trans_cost

Index(['sow_estimated_net_worth_value', 'address', 'wallet_address',
       'full_name', 'address_length', 'hash', 'address_beginning',
       'num_in_trans_1neighb', 'avg_tx_out_neighb', 'num_out_trans_1neighb',
       'avg_tx_in_neighb', 'max_tx_out_neighb', 'max_tx_in_neighb',
       'sum_tx_in_neighb', 'sum_tx_out_neighb', 'std_tx_out_neighb',
       'std_tx_in_neighb', 'unique_tx_out_neighb', 'unique_tx_in_neighb',
       'avg_txcost_out_neighb', 'avg_txcost_in_neighb', 'max_txcost_in_neighb',
       'max_txcost_out_neighb', 'std_txcost_out_neighb',
       'std_txcost_in_neighb', 'address_balance', 'timedelta_trans_out',
       'num_in_trans', 'num_out_trans', 'avg_trans_out', 'avg_trans_in',
       'sum_trans_in', 'sum_trans_out', 'max_trans_out', 'max_trans_in',
       'std_trans_in', 'std_trans_out', 'min_trans_out', 'min_trans_in',
       'unique_tpartn_out', 'unique_tpartn_in', 'avg_transcost_out',
       'avg_transcost_in', 'max_transcost_out', 'max_transcost_in',
       'std_transcost_out', 'std_transcost_in'],
      dtype='object', name=0)

In [256]:
#std amount ingoing transaction cost
std_txcost_in_neighb = []
for address in df3.wallet_address:
    result = 0
    result_p_address = []
    filtered_df = df_Neighb_normal_USD.loc[(df_Neighb_normal_USD["id"] == str(address))&(df_Neighb_normal_USD["out"] == False)]
    filtered_neighb = neighboars_in.loc[(neighboars_in["id"] == str(address))]
    for index, row in filtered_neighb.iterrows():
        result_p_address.append(filtered_df.loc[filtered_df["neighboar"] == str(row.neighboar), ["transaction_costUSD"]].std())
        result = pd.DataFrame(result_p_address)
        result = result.iloc[:,0].mean()
    std_txcost_in_neighb.append(result)
        
df3.loc[:,"std_txcost_in_neighb"]= std_txcost_in_neighb

/Users/Kenneth/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1596: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
/Users/Kenneth/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1745: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(ilocs[0], value)